<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Eliciting-and-Loading-Data-from-Official-Sources" data-toc-modified-id="Eliciting-and-Loading-Data-from-Official-Sources-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Eliciting and Loading Data from Official Sources</a></span><ul class="toc-item"><li><span><a href="#Confirmed-Global-Cases" data-toc-modified-id="Confirmed-Global-Cases-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Confirmed Global Cases</a></span></li><li><span><a href="#Number-of-Death-Cases---Global" data-toc-modified-id="Number-of-Death-Cases---Global-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Number of Death Cases - Global</a></span></li><li><span><a href="#Number-of-recovered-cases---Global" data-toc-modified-id="Number-of-recovered-cases---Global-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Number of recovered cases - Global</a></span></li><li><span><a href="#US-Confirmed-Cases" data-toc-modified-id="US-Confirmed-Cases-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>US Confirmed Cases</a></span></li><li><span><a href="#US-Death-Cases" data-toc-modified-id="US-Death-Cases-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>US Death Cases</a></span></li><li><span><a href="#Country-specific-Data" data-toc-modified-id="Country-specific-Data-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Country-specific Data</a></span></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></li></ul></div>

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

# Predicting disease outbreaks with time-series analysis

## Eliciting and Loading Data from Official Sources

We load the datasets from raw files based on Johns Hopkins data repository. We load raw files directly from GitHub so our analysis always runs on updated data. 
We have two types of datasets:
- Global data. The datasets contain daily time series summary tables, including confirmed, deaths and recovered for each country. All data is read in from of the daily case report. 
- US data. Two time series tables are for the US confirmed cases and deaths, reported at the county level. They are named time_series_covid19_confirmed_US.csv, time_series_covid19_deaths_US.csv, respectively.

### Confirmed Global Cases

In [26]:
confirmed_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv")
display(confirmed_df.head())
display(confirmed_df.info(verbose=True, show_counts=True))
display(confirmed_df.describe())

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,56192,56226,56254,56290,56294,56322,56384,56454,56517,56572
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,122295,122767,123216,123641,124134,124419,124723,125157,125506,125842
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,116438,116543,116657,116750,116836,116946,117061,117192,117304,117429
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,11638,11687,11732,11809,11850,11888,11944,12010,12053,12115
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,21836,21914,21961,22031,22063,22132,22182,22311,22399,22467

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 441 columns):
 #    Column          Non-Null Count  Dtype
---   ------          --------------  -----
 0    Province/State  85 non-null     object
 1    Country/Region  274 non-null    object
 2    Lat             273 non-null    float64
 3    Long            273 non-null    float64
 4    1/22/20         274 non-null    int64
 5    1/23/20         274 non-null    int64
 6    1/24/20         274 non-null    int64
 7    1/25/20         274 non-null    int64
 8    1/26/20         274 non-null    int64
 9    1/27/20         274 non-null    int64
 10   1/28/20         274 non-null    int64
 11   1/29/20         274 non-null    int64
 12   1/30/20         274 non-null    int64
 13   1/31/20         274 non-null    int64
 14   2/1/20          274 non-null    int64
 15   2/2/20          274 non-null    int64
 16   2/3/20          274 non-null    int64
 17   2/4/20          274 non-null    int64
 18   2/5/20          274 non-null    int64
 19   2/6/20          274 non-null    int64
 20   2/7/20          274 non-null    int64
 21   2/8/20          274 non-null    int64
 22   2/9/20          274 non-null    int64
 23   2/10/20         274 non-null    int64
 24   2/11/20         274 non-null    int64
 25   2/12/20         274 non-null    int64
 26   2/13/20         274 non-null    int64
 27   2/14/20         274 non-null    int64
 28   2/15/20         274 non-null    int64
 29   2/16/20         274 non-null    int64
 30   2/17/20         274 non-null    int64
 31   2/18/20         274 non-null    int64
 32   2/19/20         274 non-null    int64
 33   2/20/20         274 non-null    int64
 34   2/21/20         274 non-null    int64
 35   2/22/20         274 non-null    int64
 36   2/23/20         274 non-null    int64
 37   2/24/20         274 non-null    int64
 38   2/25/20         274 non-null    int64
 39   2/26/20         274 non-null    int64
 40   2/27/20         274 non-null    int64
 41   2/28/20         274 non-null    int64
 42   2/29/20         274 non-null    int64
 43   3/1/20          274 non-null    int64
 44   3/2/20          274 non-null    int64
 45   3/3/20          274 non-null    int64
 46   3/4/20          274 non-null    int64
 47   3/5/20          274 non-null    int64
 48   3/6/20          274 non-null    int64
 49   3/7/20          274 non-null    int64
 50   3/8/20          274 non-null    int64
 51   3/9/20          274 non-null    int64
 52   3/10/20         274 non-null    int64
 53   3/11/20         274 non-null    int64
 54   3/12/20         274 non-null    int64
 55   3/13/20         274 non-null    int64
 56   3/14/20         274 non-null    int64
 57   3/15/20         274 non-null    int64
 58   3/16/20         274 non-null    int64
 59   3/17/20         274 non-null    int64
 60   3/18/20         274 non-null    int64
 61   3/19/20         274 non-null    int64
 62   3/20/20         274 non-null    int64
 63   3/21/20         274 non-null    int64
 64   3/22/20         274 non-null    int64
 65   3/23/20         274 non-null    int64
 66   3/24/20         274 non-null    int64
 67   3/25/20         274 non-null    int64
 68   3/26/20         274 non-null    int64
 69   3/27/20         274 non-null    int64
 70   3/28/20         274 non-null    int64
 71   3/29/20         274 non-null    int64
 72   3/30/20         274 non-null    int64
 73   3/31/20         274 non-null    int64
 74   4/1/20          274 non-null    int64
 75   4/2/20          274 non-null    int64
 76   4/3/20          274 non-null    int64
 77   4/4/20          274 non-null    int64
 78   4/5/20          274 non-null    int64
 79   4/6/20          274 non-null    int64
 80   4/7/20          274 non-null    int64
 81   4/8/20          274 non-null    int64
 82   4/9/20          274 non-null    int64
 83   4/10/20         274 non-null    int64
 84   4/11/20         274 non-null    int64
 85   4/12/20         274 non-null    int64
 86   4/13/20         274 non-null    int64
 87   4/14/20         274 non-null    int64
 88   4/15/20         274 non-null    int64
 89   4/16/20         274 non-null    int64
 90   4/17/20         274 non-null    int64
 91   4/18/20         274 non-null    int64
 92   4/19/20         274 non-null    int64
 93   4/20/20         274 non-null    int64
 94   4/21/20         274 non-null    int64
 95   4/22/20         274 non-null    int64
 96   4/23/20         274 non-null    int64
 97   4/24/20         274 non-null    int64
 98   4/25/20         274 non-null    int64
 99   4/26/20         274 non-null    int64
 100  4/27/20         274 non-null    int64
 101  4/28/20         274 non-null    int64
 102  4/29/20         274 non-null    int64
 103  4/30/20         274 non-null    int64
 104  5/1/20          274 non-null    int64
 105  5/2/20          274 non-null    int64
 106  5/3/20          274 non-null    int64
 107  5/4/20          274 non-null    int64
 108  5/5/20          274 non-null    int64
 109  5/6/20          274 non-null    int64
 110  5/7/20          274 non-null    int64
 111  5/8/20          274 non-null    int64
 112  5/9/20          274 non-null    int64
 113  5/10/20         274 non-null    int64
 114  5/11/20         274 non-null    int64
 115  5/12/20         274 non-null    int64
 116  5/13/20         274 non-null    int64
 117  5/14/20         274 non-null    int64
 118  5/15/20         274 non-null    int64
 119  5/16/20         274 non-null    int64
 120  5/17/20         274 non-null    int64
 121  5/18/20         274 non-null    int64
 122  5/19/20         274 non-null    int64
 123  5/20/20         274 non-null    int64
 124  5/21/20         274 non-null    int64
 125  5/22/20         274 non-null    int64
 126  5/23/20         274 non-null    int64
 127  5/24/20         274 non-null    int64
 128  5/25/20         274 non-null    int64
 129  5/26/20         274 non-null    int64
 130  5/27/20         274 non-null    int64
 131  5/28/20         274 non-null    int64
 132  5/29/20         274 non-null    int64
 133  5/30/20         274 non-null    int64
 134  5/31/20         274 non-null    int64
 135  6/1/20          274 non-null    int64
 136  6/2/20          274 non-null    int64
 137  6/3/20          274 non-null    int64
 138  6/4/20          274 non-null    int64
 139  6/5/20          274 non-null    int64
 140  6/6/20          274 non-null    int64
 141  6/7/20          274 non-null    int64
 142  6/8/20          274 non-null    int64
 143  6/9/20          274 non-null    int64
 144  6/10/20         274 non-null    int64
 145  6/11/20         274 non-null    int64
 146  6/12/20         274 non-null    int64
 147  6/13/20         274 non-null    int64
 148  6/14/20         274 non-null    int64
 149  6/15/20         274 non-null    int64
 150  6/16/20         274 non-null    int64
 151  6/17/20         274 non-null    int64
 152  6/18/20         274 non-null    int64
 153  6/19/20         274 non-null    int64
 154  6/20/20         274 non-null    int64
 155  6/21/20         274 non-null    int64
 156  6/22/20         274 non-null    int64
 157  6/23/20         274 non-null    int64
 158  6/24/20         274 non-null    int64
 159  6/25/20         274 non-null    int64
 160  6/26/20         274 non-null    int64
 161  6/27/20         274 non-null    int64
 162  6/28/20         274 non-null    int64
 163  6/29/20         274 non-null    int64
 164  6/30/20         274 non-null    int64
 165  7/1/20          274 non-null    int64
 166  7/2/20          274 non-null    int64
 167  7/3/20          274 non-null    int64
 168  7/4/20          274 non-null    int64
 169  7/5/20          274 non-null    int64
 170  7/6/20          274 non-null    int64
 171  7/7/20          274 non-null    int64
 172  7/8/20          274 non-null    int64
 173  7/9/20          274 non-null    int64
 174  7/10/20         274 non-null    int64
 175  7/11/20         274 non-null    int64
 176  7/12/20         274 non-null    int64
 177  7/13/20         274 non-null    int64
 178  7/14/20         274 non-null    int64
 179  7/15/20         274 non-null    int64
 180  7/16/20         274 non-null    int64
 181  7/17/20         274 non-null    int64
 182  7/18/20         274 non-null    int64
 183  7/19/20         274 non-null    int64
 184  7/20/20         274 non-null    int64
 185  7/21/20         274 non-null    int64
 186  7/22/20         274 non-null    int64
 187  7/23/20         274 non-null    int64
 188  7/24/20         274 non-null    int64
 189  7/25/20         274 non-null    int64
 190  7/26/20         274 non-null    int64
 191  7/27/20         274 non-null    int64
 192  7/28/20         274 non-null    int64
 193  7/29/20         274 non-null    int64
 194  7/30/20         274 non-null    int64
 195  7/31/20         274 non-null    int64
 196  8/1/20          274 non-null    int64
 197  8/2/20          274 non-null    int64
 198  8/3/20          274 non-null    int64
 199  8/4/20          274 non-null    int64
 200  8/5/20          274 non-null    int64
 201  8/6/20          274 non-null    int64
 202  8/7/20          274 non-null    int64
 203  8/8/20          274 non-null    int64
 204  8/9/20          274 non-null    int64
 205  8/10/20         274 non-null    int64
 206  8/11/20         274 non-null    int64
 207  8/12/20         274 non-null    int64
 208  8/13/20         274 non-null    int64
 209  8/14/20         274 non-null    int64
 210  8/15/20         274 non-null    int64
 211  8/16/20         274 non-null    int64
 212  8/17/20         274 non-null    int64
 213  8/18/20         274 non-null    int64
 214  8/19/20         274 non-null    int64
 215  8/20/20         274 non-null    int64
 216  8/21/20         274 non-null    int64
 217  8/22/20         274 non-null    int64
 218  8/23/20         274 non-null    int64
 219  8/24/20         274 non-null    int64
 220  8/25/20         274 non-null    int64
 221  8/26/20         274 non-null    int64
 222  8/27/20         274 non-null    int64
 223  8/28/20         274 non-null    int64
 224  8/29/20         274 non-null    int64
 225  8/30/20         274 non-null    int64
 226  8/31/20         274 non-null    int64
 227  9/1/20          274 non-null    int64
 228  9/2/20          274 non-null    int64
 229  9/3/20          274 non-null    int64
 230  9/4/20          274 non-null    int64
 231  9/5/20          274 non-null    int64
 232  9/6/20          274 non-null    int64
 233  9/7/20          274 non-null    int64
 234  9/8/20          274 non-null    int64
 235  9/9/20          274 non-null    int64
 236  9/10/20         274 non-null    int64
 237  9/11/20         274 non-null    int64
 238  9/12/20         274 non-null    int64
 239  9/13/20         274 non-null    int64
 240  9/14/20         274 non-null    int64
 241  9/15/20         274 non-null    int64
 242  9/16/20         274 non-null    int64
 243  9/17/20         274 non-null    int64
 244  9/18/20         274 non-null    int64
 245  9/19/20         274 non-null    int64
 246  9/20/20         274 non-null    int64
 247  9/21/20         274 non-null    int64
 248  9/22/20         274 non-null    int64
 249  9/23/20         274 non-null    int64
 250  9/24/20         274 non-null    int64
 251  9/25/20         274 non-null    int64
 252  9/26/20         274 non-null    int64
 253  9/27/20         274 non-null    int64
 254  9/28/20         274 non-null    int64
 255  9/29/20         274 non-null    int64
 256  9/30/20         274 non-null    int64
 257  10/1/20         274 non-null    int64
 258  10/2/20         274 non-null    int64
 259  10/3/20         274 non-null    int64
 260  10/4/20         274 non-null    int64
 261  10/5/20         274 non-null    int64
 262  10/6/20         274 non-null    int64
 263  10/7/20         274 non-null    int64
 264  10/8/20         274 non-null    int64
 265  10/9/20         274 non-null    int64
 266  10/10/20        274 non-null    int64
 267  10/11/20        274 non-null    int64
 268  10/12/20        274 non-null    int64
 269  10/13/20        274 non-null    int64
 270  10/14/20        274 non-null    int64
 271  10/15/20        274 non-null    int64
 272  10/16/20        274 non-null    int64
 273  10/17/20        274 non-null    int64
 274  10/18/20        274 non-null    int64
 275  10/19/20        274 non-null    int64
 276  10/20/20        274 non-null    int64
 277  10/21/20        274 non-null    int64
 278  10/22/20        274 non-null    int64
 279  10/23/20        274 non-null    int64
 280  10/24/20        274 non-null    int64
 281  10/25/20        274 non-null    int64
 282  10/26/20        274 non-null    int64
 283  10/27/20        274 non-null    int64
 284  10/28/20        274 non-null    int64
 285  10/29/20        274 non-null    int64
 286  10/30/20        274 non-null    int64
 287  10/31/20        274 non-null    int64
 288  11/1/20         274 non-null    int64
 289  11/2/20         274 non-null    int64
 290  11/3/20         274 non-null    int64
 291  11/4/20         274 non-null    int64
 292  11/5/20         274 non-null    int64
 293  11/6/20         274 non-null    int64
 294  11/7/20         274 non-null    int64
 295  11/8/20         274 non-null    int64
 296  11/9/20         274 non-null    int64
 297  11/10/20        274 non-null    int64
 298  11/11/20        274 non-null    int64
 299  11/12/20        274 non-null    int64
 300  11/13/20        274 non-null    int64
 301  11/14/20        274 non-null    int64
 302  11/15/20        274 non-null    int64
 303  11/16/20        274 non-null    int64
 304  11/17/20        274 non-null    int64
 305  11/18/20        274 non-null    int64
 306  11/19/20        274 non-null    int64
 307  11/20/20        274 non-null    int64
 308  11/21/20        274 non-null    int64
 309  11/22/20        274 non-null    int64
 310  11/23/20        274 non-null    int64
 311  11/24/20        274 non-null    int64
 312  11/25/20        274 non-null    int64
 313  11/26/20        274 non-null    int64
 314  11/27/20        274 non-null    int64
 315  11/28/20        274 non-null    int64
 316  11/29/20        274 non-null    int64
 317  11/30/20        274 non-null    int64
 318  12/1/20         274 non-null    int64
 319  12/2/20         274 non-null    int64
 320  12/3/20         274 non-null    int64
 321  12/4/20         274 non-null    int64
 322  12/5/20         274 non-null    int64
 323  12/6/20         274 non-null    int64
 324  12/7/20         274 non-null    int64
 325  12/8/20         274 non-null    int64
 326  12/9/20         274 non-null    int64
 327  12/10/20        274 non-null    int64
 328  12/11/20        274 non-null    int64
 329  12/12/20        274 non-null    int64
 330  12/13/20        274 non-null    int64
 331  12/14/20        274 non-null    int64
 332  12/15/20        274 non-null    int64
 333  12/16/20        274 non-null    int64
 334  12/17/20        274 non-null    int64
 335  12/18/20        274 non-null    int64
 336  12/19/20        274 non-null    int64
 337  12/20/20        274 non-null    int64
 338  12/21/20        274 non-null    int64
 339  12/22/20        274 non-null    int64
 340  12/23/20        274 non-null    int64
 341  12/24/20        274 non-null    int64
 342  12/25/20        274 non-null    int64
 343  12/26/20        274 non-null    int64
 344  12/27/20        274 non-null    int64
 345  12/28/20        274 non-null    int64
 346  12/29/20        274 non-null    int64
 347  12/30/20        274 non-null    int64
 348  12/31/20        274 non-null    int64
 349  1/1/21          274 non-null    int64
 350  1/2/21          274 non-null    int64
 351  1/3/21          274 non-null    int64
 352  1/4/21          274 non-null    int64
 353  1/5/21          274 non-null    int64
 354  1/6/21          274 non-null    int64
 355  1/7/21          274 non-null    int64
 356  1/8/21          274 non-null    int64
 357  1/9/21          274 non-null    int64
 358  1/10/21         274 non-null    int64
 359  1/11/21         274 non-null    int64
 360  1/12/21         274 non-null    int64
 361  1/13/21         274 non-null    int64
 362  1/14/21         274 non-null    int64
 363  1/15/21         274 non-null    int64
 364  1/16/21         274 non-null    int64
 365  1/17/21         274 non-null    int64
 366  1/18/21         274 non-null    int64
 367  1/19/21         274 non-null    int64
 368  1/20/21         274 non-null    int64
 369  1/21/21         274 non-null    int64
 370  1/22/21         274 non-null    int64
 371  1/23/21         274 non-null    int64
 372  1/24/21         274 non-null    int64
 373  1/25/21         274 non-null    int64
 374  1/26/21         274 non-null    int64
 375  1/27/21         274 non-null    int64
 376  1/28/21         274 non-null    int64
 377  1/29/21         274 non-null    int64
 378  1/30/21         274 non-null    int64
 379  1/31/21         274 non-null    int64
 380  2/1/21          274 non-null    int64
 381  2/2/21          274 non-null    int64
 382  2/3/21          274 non-null    int64
 383  2/4/21          274 non-null    int64
 384  2/5/21          274 non-null    int64
 385  2/6/21          274 non-null    int64
 386  2/7/21          274 non-null    int64
 387  2/8/21          274 non-null    int64
 388  2/9/21          274 non-null    int64
 389  2/10/21         274 non-null    int64
 390  2/11/21         274 non-null    int64
 391  2/12/21         274 non-null    int64
 392  2/13/21         274 non-null    int64
 393  2/14/21         274 non-null    int64
 394  2/15/21         274 non-null    int64
 395  2/16/21         274 non-null    int64
 396  2/17/21         274 non-null    int64
 397  2/18/21         274 non-null    int64
 398  2/19/21         274 non-null    int64
 399  2/20/21         274 non-null    int64
 400  2/21/21         274 non-null    int64
 401  2/22/21         274 non-null    int64
 402  2/23/21         274 non-null    int64
 403  2/24/21         274 non-null    int64
 404  2/25/21         274 non-null    int64
 405  2/26/21         274 non-null    int64
 406  2/27/21         274 non-null    int64
 407  2/28/21         274 non-null    int64
 408  3/1/21          274 non-null    int64
 409  3/2/21          274 non-null    int64
 410  3/3/21          274 non-null    int64
 411  3/4/21          274 non-null    int64
 412  3/5/21          274 non-null    int64
 413  3/6/21          274 non-null    int64
 414  3/7/21          274 non-null    int64
 415  3/8/21          274 non-null    int64
 416  3/9/21          274 non-null    int64
 417  3/10/21         274 non-null    int64
 418  3/11/21         274 non-null    int64
 419  3/12/21         274 non-null    int64
 420  3/13/21         274 non-null    int64
 421  3/14/21         274 non-null    int64
 422  3/15/21         274 non-null    int64
 423  3/16/21         274 non-null    int64
 424  3/17/21         274 non-null    int64
 425  3/18/21         274 non-null    int64
 426  3/19/21         274 non-null    int64
 427  3/20/21         274 non-null    int64
 428  3/21/21         274 non-null    int64
 429  3/22/21         274 non-null    int64
 430  3/23/21         274 non-null    int64
 431  3/24/21         274 non-null    int64
 432  3/25/21         274 non-null    int64
 433  3/26/21         274 non-null    int64
 434  3/27/21         274 non-null    int64
 435  3/28/21         274 non-null    int64
 436  3/29/21         274 non-null    int64
 437  3/30/21         274 non-null    int64
 438  3/31/21         274 non-null    int64
 439  4/1/21          274 non-null    int64
 440  4/2/21          274 non-null    int64
dtypes: float64(2), int64(437), object(2)
memory usage: 944.1+ KB

None

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,273.000000,273.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,...,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02,2.740000e+02
mean,20.534804,23.028143,2.032847,2.390511,3.434307,5.229927,7.729927,10.682482,20.357664,22.507299,...,4.556177e+05,4.579944e+05,4.603345e+05,4.624654e+05,4.641822e+05,4.658572e+05,4.679306e+05,4.704234e+05,4.730206e+05,4.753157e+05
std,25.194592,73.596166,26.879101,26.977077,33.585238,46.743494,65.324493,88.014971,215.981285,217.304706,...,2.162368e+06,2.169969e+06,2.177760e+06,2.184772e+06,2.189957e+06,2.195954e+06,2.202630e+06,2.210443e+06,2.219010e+06,2.226723e+06
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,5.152149,-19.020800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.021000e+03,1.021000e+03,1.021500e+03,1.025250e+03,1.031250e+03,1.043750e+03,1.043750e+03,1.043750e+03,1.044500e+03,1.061250e+03
50%,21.694000,20.939400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.443450e+04,1.494700e+04,1.494700e+04,1.494700e+04
75%,41.112900,84.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.919832e+05,1.936948e+05,1.954990e+05,1.973580e+05,1.983818e+05,1.989432e+05,1.995325e+05,2.000568e+05,2.008212e+05,2.014185e+05
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,3.001261e+07,3.008006e+07,3.015737e+07,3.021945e+07,3.026314e+07,3.033256e+07,3.039380e+07,3.046083e+07,3.053987e+07,3.060969e+07

### Number of Death Cases - Global

In [28]:
deaths_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv")
display(deaths_df.head())
display(deaths_df.info(verbose=True, show_counts=True))
display(deaths_df.describe())

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,2466,2467,2467,2469,2470,2472,2476,2484,2489,2495
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,2171,2184,2192,2204,2210,2216,2227,2235,2241,2247
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,3069,3071,3074,3077,3080,3084,3089,3093,3096,3099
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,114,114,114,115,115,115,115,115,115,116
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,532,532,532,533,533,534,536,537,538,538

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 441 columns):
 #    Column          Non-Null Count  Dtype
---   ------          --------------  -----
 0    Province/State  85 non-null     object
 1    Country/Region  274 non-null    object
 2    Lat             273 non-null    float64
 3    Long            273 non-null    float64
 4    1/22/20         274 non-null    int64
 5    1/23/20         274 non-null    int64
 6    1/24/20         274 non-null    int64
 7    1/25/20         274 non-null    int64
 8    1/26/20         274 non-null    int64
 9    1/27/20         274 non-null    int64
 10   1/28/20         274 non-null    int64
 11   1/29/20         274 non-null    int64
 12   1/30/20         274 non-null    int64
 13   1/31/20         274 non-null    int64
 14   2/1/20          274 non-null    int64
 15   2/2/20          274 non-null    int64
 16   2/3/20          274 non-null    int64
 17   2/4/20          274 non-null    int64
 18   2/5/20          274 non-null    int64
 19   2/6/20          274 non-null    int64
 20   2/7/20          274 non-null    int64
 21   2/8/20          274 non-null    int64
 22   2/9/20          274 non-null    int64
 23   2/10/20         274 non-null    int64
 24   2/11/20         274 non-null    int64
 25   2/12/20         274 non-null    int64
 26   2/13/20         274 non-null    int64
 27   2/14/20         274 non-null    int64
 28   2/15/20         274 non-null    int64
 29   2/16/20         274 non-null    int64
 30   2/17/20         274 non-null    int64
 31   2/18/20         274 non-null    int64
 32   2/19/20         274 non-null    int64
 33   2/20/20         274 non-null    int64
 34   2/21/20         274 non-null    int64
 35   2/22/20         274 non-null    int64
 36   2/23/20         274 non-null    int64
 37   2/24/20         274 non-null    int64
 38   2/25/20         274 non-null    int64
 39   2/26/20         274 non-null    int64
 40   2/27/20         274 non-null    int64
 41   2/28/20         274 non-null    int64
 42   2/29/20         274 non-null    int64
 43   3/1/20          274 non-null    int64
 44   3/2/20          274 non-null    int64
 45   3/3/20          274 non-null    int64
 46   3/4/20          274 non-null    int64
 47   3/5/20          274 non-null    int64
 48   3/6/20          274 non-null    int64
 49   3/7/20          274 non-null    int64
 50   3/8/20          274 non-null    int64
 51   3/9/20          274 non-null    int64
 52   3/10/20         274 non-null    int64
 53   3/11/20         274 non-null    int64
 54   3/12/20         274 non-null    int64
 55   3/13/20         274 non-null    int64
 56   3/14/20         274 non-null    int64
 57   3/15/20         274 non-null    int64
 58   3/16/20         274 non-null    int64
 59   3/17/20         274 non-null    int64
 60   3/18/20         274 non-null    int64
 61   3/19/20         274 non-null    int64
 62   3/20/20         274 non-null    int64
 63   3/21/20         274 non-null    int64
 64   3/22/20         274 non-null    int64
 65   3/23/20         274 non-null    int64
 66   3/24/20         274 non-null    int64
 67   3/25/20         274 non-null    int64
 68   3/26/20         274 non-null    int64
 69   3/27/20         274 non-null    int64
 70   3/28/20         274 non-null    int64
 71   3/29/20         274 non-null    int64
 72   3/30/20         274 non-null    int64
 73   3/31/20         274 non-null    int64
 74   4/1/20          274 non-null    int64
 75   4/2/20          274 non-null    int64
 76   4/3/20          274 non-null    int64
 77   4/4/20          274 non-null    int64
 78   4/5/20          274 non-null    int64
 79   4/6/20          274 non-null    int64
 80   4/7/20          274 non-null    int64
 81   4/8/20          274 non-null    int64
 82   4/9/20          274 non-null    int64
 83   4/10/20         274 non-null    int64
 84   4/11/20         274 non-null    int64
 85   4/12/20         274 non-null    int64
 86   4/13/20         274 non-null    int64
 87   4/14/20         274 non-null    int64
 88   4/15/20         274 non-null    int64
 89   4/16/20         274 non-null    int64
 90   4/17/20         274 non-null    int64
 91   4/18/20         274 non-null    int64
 92   4/19/20         274 non-null    int64
 93   4/20/20         274 non-null    int64
 94   4/21/20         274 non-null    int64
 95   4/22/20         274 non-null    int64
 96   4/23/20         274 non-null    int64
 97   4/24/20         274 non-null    int64
 98   4/25/20         274 non-null    int64
 99   4/26/20         274 non-null    int64
 100  4/27/20         274 non-null    int64
 101  4/28/20         274 non-null    int64
 102  4/29/20         274 non-null    int64
 103  4/30/20         274 non-null    int64
 104  5/1/20          274 non-null    int64
 105  5/2/20          274 non-null    int64
 106  5/3/20          274 non-null    int64
 107  5/4/20          274 non-null    int64
 108  5/5/20          274 non-null    int64
 109  5/6/20          274 non-null    int64
 110  5/7/20          274 non-null    int64
 111  5/8/20          274 non-null    int64
 112  5/9/20          274 non-null    int64
 113  5/10/20         274 non-null    int64
 114  5/11/20         274 non-null    int64
 115  5/12/20         274 non-null    int64
 116  5/13/20         274 non-null    int64
 117  5/14/20         274 non-null    int64
 118  5/15/20         274 non-null    int64
 119  5/16/20         274 non-null    int64
 120  5/17/20         274 non-null    int64
 121  5/18/20         274 non-null    int64
 122  5/19/20         274 non-null    int64
 123  5/20/20         274 non-null    int64
 124  5/21/20         274 non-null    int64
 125  5/22/20         274 non-null    int64
 126  5/23/20         274 non-null    int64
 127  5/24/20         274 non-null    int64
 128  5/25/20         274 non-null    int64
 129  5/26/20         274 non-null    int64
 130  5/27/20         274 non-null    int64
 131  5/28/20         274 non-null    int64
 132  5/29/20         274 non-null    int64
 133  5/30/20         274 non-null    int64
 134  5/31/20         274 non-null    int64
 135  6/1/20          274 non-null    int64
 136  6/2/20          274 non-null    int64
 137  6/3/20          274 non-null    int64
 138  6/4/20          274 non-null    int64
 139  6/5/20          274 non-null    int64
 140  6/6/20          274 non-null    int64
 141  6/7/20          274 non-null    int64
 142  6/8/20          274 non-null    int64
 143  6/9/20          274 non-null    int64
 144  6/10/20         274 non-null    int64
 145  6/11/20         274 non-null    int64
 146  6/12/20         274 non-null    int64
 147  6/13/20         274 non-null    int64
 148  6/14/20         274 non-null    int64
 149  6/15/20         274 non-null    int64
 150  6/16/20         274 non-null    int64
 151  6/17/20         274 non-null    int64
 152  6/18/20         274 non-null    int64
 153  6/19/20         274 non-null    int64
 154  6/20/20         274 non-null    int64
 155  6/21/20         274 non-null    int64
 156  6/22/20         274 non-null    int64
 157  6/23/20         274 non-null    int64
 158  6/24/20         274 non-null    int64
 159  6/25/20         274 non-null    int64
 160  6/26/20         274 non-null    int64
 161  6/27/20         274 non-null    int64
 162  6/28/20         274 non-null    int64
 163  6/29/20         274 non-null    int64
 164  6/30/20         274 non-null    int64
 165  7/1/20          274 non-null    int64
 166  7/2/20          274 non-null    int64
 167  7/3/20          274 non-null    int64
 168  7/4/20          274 non-null    int64
 169  7/5/20          274 non-null    int64
 170  7/6/20          274 non-null    int64
 171  7/7/20          274 non-null    int64
 172  7/8/20          274 non-null    int64
 173  7/9/20          274 non-null    int64
 174  7/10/20         274 non-null    int64
 175  7/11/20         274 non-null    int64
 176  7/12/20         274 non-null    int64
 177  7/13/20         274 non-null    int64
 178  7/14/20         274 non-null    int64
 179  7/15/20         274 non-null    int64
 180  7/16/20         274 non-null    int64
 181  7/17/20         274 non-null    int64
 182  7/18/20         274 non-null    int64
 183  7/19/20         274 non-null    int64
 184  7/20/20         274 non-null    int64
 185  7/21/20         274 non-null    int64
 186  7/22/20         274 non-null    int64
 187  7/23/20         274 non-null    int64
 188  7/24/20         274 non-null    int64
 189  7/25/20         274 non-null    int64
 190  7/26/20         274 non-null    int64
 191  7/27/20         274 non-null    int64
 192  7/28/20         274 non-null    int64
 193  7/29/20         274 non-null    int64
 194  7/30/20         274 non-null    int64
 195  7/31/20         274 non-null    int64
 196  8/1/20          274 non-null    int64
 197  8/2/20          274 non-null    int64
 198  8/3/20          274 non-null    int64
 199  8/4/20          274 non-null    int64
 200  8/5/20          274 non-null    int64
 201  8/6/20          274 non-null    int64
 202  8/7/20          274 non-null    int64
 203  8/8/20          274 non-null    int64
 204  8/9/20          274 non-null    int64
 205  8/10/20         274 non-null    int64
 206  8/11/20         274 non-null    int64
 207  8/12/20         274 non-null    int64
 208  8/13/20         274 non-null    int64
 209  8/14/20         274 non-null    int64
 210  8/15/20         274 non-null    int64
 211  8/16/20         274 non-null    int64
 212  8/17/20         274 non-null    int64
 213  8/18/20         274 non-null    int64
 214  8/19/20         274 non-null    int64
 215  8/20/20         274 non-null    int64
 216  8/21/20         274 non-null    int64
 217  8/22/20         274 non-null    int64
 218  8/23/20         274 non-null    int64
 219  8/24/20         274 non-null    int64
 220  8/25/20         274 non-null    int64
 221  8/26/20         274 non-null    int64
 222  8/27/20         274 non-null    int64
 223  8/28/20         274 non-null    int64
 224  8/29/20         274 non-null    int64
 225  8/30/20         274 non-null    int64
 226  8/31/20         274 non-null    int64
 227  9/1/20          274 non-null    int64
 228  9/2/20          274 non-null    int64
 229  9/3/20          274 non-null    int64
 230  9/4/20          274 non-null    int64
 231  9/5/20          274 non-null    int64
 232  9/6/20          274 non-null    int64
 233  9/7/20          274 non-null    int64
 234  9/8/20          274 non-null    int64
 235  9/9/20          274 non-null    int64
 236  9/10/20         274 non-null    int64
 237  9/11/20         274 non-null    int64
 238  9/12/20         274 non-null    int64
 239  9/13/20         274 non-null    int64
 240  9/14/20         274 non-null    int64
 241  9/15/20         274 non-null    int64
 242  9/16/20         274 non-null    int64
 243  9/17/20         274 non-null    int64
 244  9/18/20         274 non-null    int64
 245  9/19/20         274 non-null    int64
 246  9/20/20         274 non-null    int64
 247  9/21/20         274 non-null    int64
 248  9/22/20         274 non-null    int64
 249  9/23/20         274 non-null    int64
 250  9/24/20         274 non-null    int64
 251  9/25/20         274 non-null    int64
 252  9/26/20         274 non-null    int64
 253  9/27/20         274 non-null    int64
 254  9/28/20         274 non-null    int64
 255  9/29/20         274 non-null    int64
 256  9/30/20         274 non-null    int64
 257  10/1/20         274 non-null    int64
 258  10/2/20         274 non-null    int64
 259  10/3/20         274 non-null    int64
 260  10/4/20         274 non-null    int64
 261  10/5/20         274 non-null    int64
 262  10/6/20         274 non-null    int64
 263  10/7/20         274 non-null    int64
 264  10/8/20         274 non-null    int64
 265  10/9/20         274 non-null    int64
 266  10/10/20        274 non-null    int64
 267  10/11/20        274 non-null    int64
 268  10/12/20        274 non-null    int64
 269  10/13/20        274 non-null    int64
 270  10/14/20        274 non-null    int64
 271  10/15/20        274 non-null    int64
 272  10/16/20        274 non-null    int64
 273  10/17/20        274 non-null    int64
 274  10/18/20        274 non-null    int64
 275  10/19/20        274 non-null    int64
 276  10/20/20        274 non-null    int64
 277  10/21/20        274 non-null    int64
 278  10/22/20        274 non-null    int64
 279  10/23/20        274 non-null    int64
 280  10/24/20        274 non-null    int64
 281  10/25/20        274 non-null    int64
 282  10/26/20        274 non-null    int64
 283  10/27/20        274 non-null    int64
 284  10/28/20        274 non-null    int64
 285  10/29/20        274 non-null    int64
 286  10/30/20        274 non-null    int64
 287  10/31/20        274 non-null    int64
 288  11/1/20         274 non-null    int64
 289  11/2/20         274 non-null    int64
 290  11/3/20         274 non-null    int64
 291  11/4/20         274 non-null    int64
 292  11/5/20         274 non-null    int64
 293  11/6/20         274 non-null    int64
 294  11/7/20         274 non-null    int64
 295  11/8/20         274 non-null    int64
 296  11/9/20         274 non-null    int64
 297  11/10/20        274 non-null    int64
 298  11/11/20        274 non-null    int64
 299  11/12/20        274 non-null    int64
 300  11/13/20        274 non-null    int64
 301  11/14/20        274 non-null    int64
 302  11/15/20        274 non-null    int64
 303  11/16/20        274 non-null    int64
 304  11/17/20        274 non-null    int64
 305  11/18/20        274 non-null    int64
 306  11/19/20        274 non-null    int64
 307  11/20/20        274 non-null    int64
 308  11/21/20        274 non-null    int64
 309  11/22/20        274 non-null    int64
 310  11/23/20        274 non-null    int64
 311  11/24/20        274 non-null    int64
 312  11/25/20        274 non-null    int64
 313  11/26/20        274 non-null    int64
 314  11/27/20        274 non-null    int64
 315  11/28/20        274 non-null    int64
 316  11/29/20        274 non-null    int64
 317  11/30/20        274 non-null    int64
 318  12/1/20         274 non-null    int64
 319  12/2/20         274 non-null    int64
 320  12/3/20         274 non-null    int64
 321  12/4/20         274 non-null    int64
 322  12/5/20         274 non-null    int64
 323  12/6/20         274 non-null    int64
 324  12/7/20         274 non-null    int64
 325  12/8/20         274 non-null    int64
 326  12/9/20         274 non-null    int64
 327  12/10/20        274 non-null    int64
 328  12/11/20        274 non-null    int64
 329  12/12/20        274 non-null    int64
 330  12/13/20        274 non-null    int64
 331  12/14/20        274 non-null    int64
 332  12/15/20        274 non-null    int64
 333  12/16/20        274 non-null    int64
 334  12/17/20        274 non-null    int64
 335  12/18/20        274 non-null    int64
 336  12/19/20        274 non-null    int64
 337  12/20/20        274 non-null    int64
 338  12/21/20        274 non-null    int64
 339  12/22/20        274 non-null    int64
 340  12/23/20        274 non-null    int64
 341  12/24/20        274 non-null    int64
 342  12/25/20        274 non-null    int64
 343  12/26/20        274 non-null    int64
 344  12/27/20        274 non-null    int64
 345  12/28/20        274 non-null    int64
 346  12/29/20        274 non-null    int64
 347  12/30/20        274 non-null    int64
 348  12/31/20        274 non-null    int64
 349  1/1/21          274 non-null    int64
 350  1/2/21          274 non-null    int64
 351  1/3/21          274 non-null    int64
 352  1/4/21          274 non-null    int64
 353  1/5/21          274 non-null    int64
 354  1/6/21          274 non-null    int64
 355  1/7/21          274 non-null    int64
 356  1/8/21          274 non-null    int64
 357  1/9/21          274 non-null    int64
 358  1/10/21         274 non-null    int64
 359  1/11/21         274 non-null    int64
 360  1/12/21         274 non-null    int64
 361  1/13/21         274 non-null    int64
 362  1/14/21         274 non-null    int64
 363  1/15/21         274 non-null    int64
 364  1/16/21         274 non-null    int64
 365  1/17/21         274 non-null    int64
 366  1/18/21         274 non-null    int64
 367  1/19/21         274 non-null    int64
 368  1/20/21         274 non-null    int64
 369  1/21/21         274 non-null    int64
 370  1/22/21         274 non-null    int64
 371  1/23/21         274 non-null    int64
 372  1/24/21         274 non-null    int64
 373  1/25/21         274 non-null    int64
 374  1/26/21         274 non-null    int64
 375  1/27/21         274 non-null    int64
 376  1/28/21         274 non-null    int64
 377  1/29/21         274 non-null    int64
 378  1/30/21         274 non-null    int64
 379  1/31/21         274 non-null    int64
 380  2/1/21          274 non-null    int64
 381  2/2/21          274 non-null    int64
 382  2/3/21          274 non-null    int64
 383  2/4/21          274 non-null    int64
 384  2/5/21          274 non-null    int64
 385  2/6/21          274 non-null    int64
 386  2/7/21          274 non-null    int64
 387  2/8/21          274 non-null    int64
 388  2/9/21          274 non-null    int64
 389  2/10/21         274 non-null    int64
 390  2/11/21         274 non-null    int64
 391  2/12/21         274 non-null    int64
 392  2/13/21         274 non-null    int64
 393  2/14/21         274 non-null    int64
 394  2/15/21         274 non-null    int64
 395  2/16/21         274 non-null    int64
 396  2/17/21         274 non-null    int64
 397  2/18/21         274 non-null    int64
 398  2/19/21         274 non-null    int64
 399  2/20/21         274 non-null    int64
 400  2/21/21         274 non-null    int64
 401  2/22/21         274 non-null    int64
 402  2/23/21         274 non-null    int64
 403  2/24/21         274 non-null    int64
 404  2/25/21         274 non-null    int64
 405  2/26/21         274 non-null    int64
 406  2/27/21         274 non-null    int64
 407  2/28/21         274 non-null    int64
 408  3/1/21          274 non-null    int64
 409  3/2/21          274 non-null    int64
 410  3/3/21          274 non-null    int64
 411  3/4/21          274 non-null    int64
 412  3/5/21          274 non-null    int64
 413  3/6/21          274 non-null    int64
 414  3/7/21          274 non-null    int64
 415  3/8/21          274 non-null    int64
 416  3/9/21          274 non-null    int64
 417  3/10/21         274 non-null    int64
 418  3/11/21         274 non-null    int64
 419  3/12/21         274 non-null    int64
 420  3/13/21         274 non-null    int64
 421  3/14/21         274 non-null    int64
 422  3/15/21         274 non-null    int64
 423  3/16/21         274 non-null    int64
 424  3/17/21         274 non-null    int64
 425  3/18/21         274 non-null    int64
 426  3/19/21         274 non-null    int64
 427  3/20/21         274 non-null    int64
 428  3/21/21         274 non-null    int64
 429  3/22/21         274 non-null    int64
 430  3/23/21         274 non-null    int64
 431  3/24/21         274 non-null    int64
 432  3/25/21         274 non-null    int64
 433  3/26/21         274 non-null    int64
 434  3/27/21         274 non-null    int64
 435  3/28/21         274 non-null    int64
 436  3/29/21         274 non-null    int64
 437  3/30/21         274 non-null    int64
 438  3/31/21         274 non-null    int64
 439  4/1/21          274 non-null    int64
 440  4/2/21          274 non-null    int64
dtypes: float64(2), int64(437), object(2)
memory usage: 944.1+ KB

None

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,273.000000,273.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,...,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000,274.000000
mean,20.534804,23.028143,0.062044,0.065693,0.094891,0.153285,0.204380,0.299270,0.478102,0.485401,...,10014.437956,10056.361314,10100.843066,10136.572993,10160.164234,10189.182482,10231.375912,10276.127737,10319.416058,10356.602190
std,25.194592,73.596166,1.027008,1.028562,1.451957,2.417550,3.142847,4.592341,7.551622,7.552125,...,43234.074990,43406.150157,43584.724894,43731.233417,43812.597722,43906.987548,44077.357752,44258.129471,44434.051980,44581.538159
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.152149,-19.020800,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.000000,7.000000,7.250000,7.250000,7.250000,7.250000,7.250000,8.000000,8.000000,8.250000
50%,21.694000,20.939400,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,181.000000,181.000000,181.000000,181.000000,181.000000,181.000000,182.000000,182.000000,182.500000,182.500000
75%,41.112900,84.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2992.000000,2992.000000,3000.750000,3003.000000,3003.000000,3003.000000,3011.750000,3011.750000,3012.500000,3012.500000
max,71.706900,178.065000,17.000000,17.000000,24.000000,40.000000,52.000000,76.000000,125.000000,125.000000,...,545492.000000,547051.000000,548172.000000,548913.000000,549420.000000,550121.000000,550996.000000,552072.000000,553136.000000,554103.000000

### Number of recovered cases - Global

In [30]:
recovered_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv")
display(recovered_df.head())
display(recovered_df.info(verbose=True, show_counts=True))
display(recovered_df.describe())

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,49802,49937,49994,49994,50013,50666,51473,51550,51788,51798
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,87193,87760,88349,88899,89456,90024,90617,91271,91875,92500
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,81065,81065,81160,81242,81316,81349,81442,81538,81632,81729
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,11082,11111,11149,11172,11204,11244,11276,11315,11365,11401
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,20172,20190,20250,20269,20289,20380,20446,20493,20508,20867

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 441 columns):
 #    Column          Non-Null Count  Dtype
---   ------          --------------  -----
 0    Province/State  69 non-null     object
 1    Country/Region  259 non-null    object
 2    Lat             259 non-null    float64
 3    Long            259 non-null    float64
 4    1/22/20         259 non-null    int64
 5    1/23/20         259 non-null    int64
 6    1/24/20         259 non-null    int64
 7    1/25/20         259 non-null    int64
 8    1/26/20         259 non-null    int64
 9    1/27/20         259 non-null    int64
 10   1/28/20         259 non-null    int64
 11   1/29/20         259 non-null    int64
 12   1/30/20         259 non-null    int64
 13   1/31/20         259 non-null    int64
 14   2/1/20          259 non-null    int64
 15   2/2/20          259 non-null    int64
 16   2/3/20          259 non-null    int64
 17   2/4/20          259 non-null    int64
 18   2/5/20          259 non-null    int64
 19   2/6/20          259 non-null    int64
 20   2/7/20          259 non-null    int64
 21   2/8/20          259 non-null    int64
 22   2/9/20          259 non-null    int64
 23   2/10/20         259 non-null    int64
 24   2/11/20         259 non-null    int64
 25   2/12/20         259 non-null    int64
 26   2/13/20         259 non-null    int64
 27   2/14/20         259 non-null    int64
 28   2/15/20         259 non-null    int64
 29   2/16/20         259 non-null    int64
 30   2/17/20         259 non-null    int64
 31   2/18/20         259 non-null    int64
 32   2/19/20         259 non-null    int64
 33   2/20/20         259 non-null    int64
 34   2/21/20         259 non-null    int64
 35   2/22/20         259 non-null    int64
 36   2/23/20         259 non-null    int64
 37   2/24/20         259 non-null    int64
 38   2/25/20         259 non-null    int64
 39   2/26/20         259 non-null    int64
 40   2/27/20         259 non-null    int64
 41   2/28/20         259 non-null    int64
 42   2/29/20         259 non-null    int64
 43   3/1/20          259 non-null    int64
 44   3/2/20          259 non-null    int64
 45   3/3/20          259 non-null    int64
 46   3/4/20          259 non-null    int64
 47   3/5/20          259 non-null    int64
 48   3/6/20          259 non-null    int64
 49   3/7/20          259 non-null    int64
 50   3/8/20          259 non-null    int64
 51   3/9/20          259 non-null    int64
 52   3/10/20         259 non-null    int64
 53   3/11/20         259 non-null    int64
 54   3/12/20         259 non-null    int64
 55   3/13/20         259 non-null    int64
 56   3/14/20         259 non-null    int64
 57   3/15/20         259 non-null    int64
 58   3/16/20         259 non-null    int64
 59   3/17/20         259 non-null    int64
 60   3/18/20         259 non-null    int64
 61   3/19/20         259 non-null    int64
 62   3/20/20         259 non-null    int64
 63   3/21/20         259 non-null    int64
 64   3/22/20         259 non-null    int64
 65   3/23/20         259 non-null    int64
 66   3/24/20         259 non-null    int64
 67   3/25/20         259 non-null    int64
 68   3/26/20         259 non-null    int64
 69   3/27/20         259 non-null    int64
 70   3/28/20         259 non-null    int64
 71   3/29/20         259 non-null    int64
 72   3/30/20         259 non-null    int64
 73   3/31/20         259 non-null    int64
 74   4/1/20          259 non-null    int64
 75   4/2/20          259 non-null    int64
 76   4/3/20          259 non-null    int64
 77   4/4/20          259 non-null    int64
 78   4/5/20          259 non-null    int64
 79   4/6/20          259 non-null    int64
 80   4/7/20          259 non-null    int64
 81   4/8/20          259 non-null    int64
 82   4/9/20          259 non-null    int64
 83   4/10/20         259 non-null    int64
 84   4/11/20         259 non-null    int64
 85   4/12/20         259 non-null    int64
 86   4/13/20         259 non-null    int64
 87   4/14/20         259 non-null    int64
 88   4/15/20         259 non-null    int64
 89   4/16/20         259 non-null    int64
 90   4/17/20         259 non-null    int64
 91   4/18/20         259 non-null    int64
 92   4/19/20         259 non-null    int64
 93   4/20/20         259 non-null    int64
 94   4/21/20         259 non-null    int64
 95   4/22/20         259 non-null    int64
 96   4/23/20         259 non-null    int64
 97   4/24/20         259 non-null    int64
 98   4/25/20         259 non-null    int64
 99   4/26/20         259 non-null    int64
 100  4/27/20         259 non-null    int64
 101  4/28/20         259 non-null    int64
 102  4/29/20         259 non-null    int64
 103  4/30/20         259 non-null    int64
 104  5/1/20          259 non-null    int64
 105  5/2/20          259 non-null    int64
 106  5/3/20          259 non-null    int64
 107  5/4/20          259 non-null    int64
 108  5/5/20          259 non-null    int64
 109  5/6/20          259 non-null    int64
 110  5/7/20          259 non-null    int64
 111  5/8/20          259 non-null    int64
 112  5/9/20          259 non-null    int64
 113  5/10/20         259 non-null    int64
 114  5/11/20         259 non-null    int64
 115  5/12/20         259 non-null    int64
 116  5/13/20         259 non-null    int64
 117  5/14/20         259 non-null    int64
 118  5/15/20         259 non-null    int64
 119  5/16/20         259 non-null    int64
 120  5/17/20         259 non-null    int64
 121  5/18/20         259 non-null    int64
 122  5/19/20         259 non-null    int64
 123  5/20/20         259 non-null    int64
 124  5/21/20         259 non-null    int64
 125  5/22/20         259 non-null    int64
 126  5/23/20         259 non-null    int64
 127  5/24/20         259 non-null    int64
 128  5/25/20         259 non-null    int64
 129  5/26/20         259 non-null    int64
 130  5/27/20         259 non-null    int64
 131  5/28/20         259 non-null    int64
 132  5/29/20         259 non-null    int64
 133  5/30/20         259 non-null    int64
 134  5/31/20         259 non-null    int64
 135  6/1/20          259 non-null    int64
 136  6/2/20          259 non-null    int64
 137  6/3/20          259 non-null    int64
 138  6/4/20          259 non-null    int64
 139  6/5/20          259 non-null    int64
 140  6/6/20          259 non-null    int64
 141  6/7/20          259 non-null    int64
 142  6/8/20          259 non-null    int64
 143  6/9/20          259 non-null    int64
 144  6/10/20         259 non-null    int64
 145  6/11/20         259 non-null    int64
 146  6/12/20         259 non-null    int64
 147  6/13/20         259 non-null    int64
 148  6/14/20         259 non-null    int64
 149  6/15/20         259 non-null    int64
 150  6/16/20         259 non-null    int64
 151  6/17/20         259 non-null    int64
 152  6/18/20         259 non-null    int64
 153  6/19/20         259 non-null    int64
 154  6/20/20         259 non-null    int64
 155  6/21/20         259 non-null    int64
 156  6/22/20         259 non-null    int64
 157  6/23/20         259 non-null    int64
 158  6/24/20         259 non-null    int64
 159  6/25/20         259 non-null    int64
 160  6/26/20         259 non-null    int64
 161  6/27/20         259 non-null    int64
 162  6/28/20         259 non-null    int64
 163  6/29/20         259 non-null    int64
 164  6/30/20         259 non-null    int64
 165  7/1/20          259 non-null    int64
 166  7/2/20          259 non-null    int64
 167  7/3/20          259 non-null    int64
 168  7/4/20          259 non-null    int64
 169  7/5/20          259 non-null    int64
 170  7/6/20          259 non-null    int64
 171  7/7/20          259 non-null    int64
 172  7/8/20          259 non-null    int64
 173  7/9/20          259 non-null    int64
 174  7/10/20         259 non-null    int64
 175  7/11/20         259 non-null    int64
 176  7/12/20         259 non-null    int64
 177  7/13/20         259 non-null    int64
 178  7/14/20         259 non-null    int64
 179  7/15/20         259 non-null    int64
 180  7/16/20         259 non-null    int64
 181  7/17/20         259 non-null    int64
 182  7/18/20         259 non-null    int64
 183  7/19/20         259 non-null    int64
 184  7/20/20         259 non-null    int64
 185  7/21/20         259 non-null    int64
 186  7/22/20         259 non-null    int64
 187  7/23/20         259 non-null    int64
 188  7/24/20         259 non-null    int64
 189  7/25/20         259 non-null    int64
 190  7/26/20         259 non-null    int64
 191  7/27/20         259 non-null    int64
 192  7/28/20         259 non-null    int64
 193  7/29/20         259 non-null    int64
 194  7/30/20         259 non-null    int64
 195  7/31/20         259 non-null    int64
 196  8/1/20          259 non-null    int64
 197  8/2/20          259 non-null    int64
 198  8/3/20          259 non-null    int64
 199  8/4/20          259 non-null    int64
 200  8/5/20          259 non-null    int64
 201  8/6/20          259 non-null    int64
 202  8/7/20          259 non-null    int64
 203  8/8/20          259 non-null    int64
 204  8/9/20          259 non-null    int64
 205  8/10/20         259 non-null    int64
 206  8/11/20         259 non-null    int64
 207  8/12/20         259 non-null    int64
 208  8/13/20         259 non-null    int64
 209  8/14/20         259 non-null    int64
 210  8/15/20         259 non-null    int64
 211  8/16/20         259 non-null    int64
 212  8/17/20         259 non-null    int64
 213  8/18/20         259 non-null    int64
 214  8/19/20         259 non-null    int64
 215  8/20/20         259 non-null    int64
 216  8/21/20         259 non-null    int64
 217  8/22/20         259 non-null    int64
 218  8/23/20         259 non-null    int64
 219  8/24/20         259 non-null    int64
 220  8/25/20         259 non-null    int64
 221  8/26/20         259 non-null    int64
 222  8/27/20         259 non-null    int64
 223  8/28/20         259 non-null    int64
 224  8/29/20         259 non-null    int64
 225  8/30/20         259 non-null    int64
 226  8/31/20         259 non-null    int64
 227  9/1/20          259 non-null    int64
 228  9/2/20          259 non-null    int64
 229  9/3/20          259 non-null    int64
 230  9/4/20          259 non-null    int64
 231  9/5/20          259 non-null    int64
 232  9/6/20          259 non-null    int64
 233  9/7/20          259 non-null    int64
 234  9/8/20          259 non-null    int64
 235  9/9/20          259 non-null    int64
 236  9/10/20         259 non-null    int64
 237  9/11/20         259 non-null    int64
 238  9/12/20         259 non-null    int64
 239  9/13/20         259 non-null    int64
 240  9/14/20         259 non-null    int64
 241  9/15/20         259 non-null    int64
 242  9/16/20         259 non-null    int64
 243  9/17/20         259 non-null    int64
 244  9/18/20         259 non-null    int64
 245  9/19/20         259 non-null    int64
 246  9/20/20         259 non-null    int64
 247  9/21/20         259 non-null    int64
 248  9/22/20         259 non-null    int64
 249  9/23/20         259 non-null    int64
 250  9/24/20         259 non-null    int64
 251  9/25/20         259 non-null    int64
 252  9/26/20         259 non-null    int64
 253  9/27/20         259 non-null    int64
 254  9/28/20         259 non-null    int64
 255  9/29/20         259 non-null    int64
 256  9/30/20         259 non-null    int64
 257  10/1/20         259 non-null    int64
 258  10/2/20         259 non-null    int64
 259  10/3/20         259 non-null    int64
 260  10/4/20         259 non-null    int64
 261  10/5/20         259 non-null    int64
 262  10/6/20         259 non-null    int64
 263  10/7/20         259 non-null    int64
 264  10/8/20         259 non-null    int64
 265  10/9/20         259 non-null    int64
 266  10/10/20        259 non-null    int64
 267  10/11/20        259 non-null    int64
 268  10/12/20        259 non-null    int64
 269  10/13/20        259 non-null    int64
 270  10/14/20        259 non-null    int64
 271  10/15/20        259 non-null    int64
 272  10/16/20        259 non-null    int64
 273  10/17/20        259 non-null    int64
 274  10/18/20        259 non-null    int64
 275  10/19/20        259 non-null    int64
 276  10/20/20        259 non-null    int64
 277  10/21/20        259 non-null    int64
 278  10/22/20        259 non-null    int64
 279  10/23/20        259 non-null    int64
 280  10/24/20        259 non-null    int64
 281  10/25/20        259 non-null    int64
 282  10/26/20        259 non-null    int64
 283  10/27/20        259 non-null    int64
 284  10/28/20        259 non-null    int64
 285  10/29/20        259 non-null    int64
 286  10/30/20        259 non-null    int64
 287  10/31/20        259 non-null    int64
 288  11/1/20         259 non-null    int64
 289  11/2/20         259 non-null    int64
 290  11/3/20         259 non-null    int64
 291  11/4/20         259 non-null    int64
 292  11/5/20         259 non-null    int64
 293  11/6/20         259 non-null    int64
 294  11/7/20         259 non-null    int64
 295  11/8/20         259 non-null    int64
 296  11/9/20         259 non-null    int64
 297  11/10/20        259 non-null    int64
 298  11/11/20        259 non-null    int64
 299  11/12/20        259 non-null    int64
 300  11/13/20        259 non-null    int64
 301  11/14/20        259 non-null    int64
 302  11/15/20        259 non-null    int64
 303  11/16/20        259 non-null    int64
 304  11/17/20        259 non-null    int64
 305  11/18/20        259 non-null    int64
 306  11/19/20        259 non-null    int64
 307  11/20/20        259 non-null    int64
 308  11/21/20        259 non-null    int64
 309  11/22/20        259 non-null    int64
 310  11/23/20        259 non-null    int64
 311  11/24/20        259 non-null    int64
 312  11/25/20        259 non-null    int64
 313  11/26/20        259 non-null    int64
 314  11/27/20        259 non-null    int64
 315  11/28/20        259 non-null    int64
 316  11/29/20        259 non-null    int64
 317  11/30/20        259 non-null    int64
 318  12/1/20         259 non-null    int64
 319  12/2/20         259 non-null    int64
 320  12/3/20         259 non-null    int64
 321  12/4/20         259 non-null    int64
 322  12/5/20         259 non-null    int64
 323  12/6/20         259 non-null    int64
 324  12/7/20         259 non-null    int64
 325  12/8/20         259 non-null    int64
 326  12/9/20         259 non-null    int64
 327  12/10/20        259 non-null    int64
 328  12/11/20        259 non-null    int64
 329  12/12/20        259 non-null    int64
 330  12/13/20        259 non-null    int64
 331  12/14/20        259 non-null    int64
 332  12/15/20        259 non-null    int64
 333  12/16/20        259 non-null    int64
 334  12/17/20        259 non-null    int64
 335  12/18/20        259 non-null    int64
 336  12/19/20        259 non-null    int64
 337  12/20/20        259 non-null    int64
 338  12/21/20        259 non-null    int64
 339  12/22/20        259 non-null    int64
 340  12/23/20        259 non-null    int64
 341  12/24/20        259 non-null    int64
 342  12/25/20        259 non-null    int64
 343  12/26/20        259 non-null    int64
 344  12/27/20        259 non-null    int64
 345  12/28/20        259 non-null    int64
 346  12/29/20        259 non-null    int64
 347  12/30/20        259 non-null    int64
 348  12/31/20        259 non-null    int64
 349  1/1/21          259 non-null    int64
 350  1/2/21          259 non-null    int64
 351  1/3/21          259 non-null    int64
 352  1/4/21          259 non-null    int64
 353  1/5/21          259 non-null    int64
 354  1/6/21          259 non-null    int64
 355  1/7/21          259 non-null    int64
 356  1/8/21          259 non-null    int64
 357  1/9/21          259 non-null    int64
 358  1/10/21         259 non-null    int64
 359  1/11/21         259 non-null    int64
 360  1/12/21         259 non-null    int64
 361  1/13/21         259 non-null    int64
 362  1/14/21         259 non-null    int64
 363  1/15/21         259 non-null    int64
 364  1/16/21         259 non-null    int64
 365  1/17/21         259 non-null    int64
 366  1/18/21         259 non-null    int64
 367  1/19/21         259 non-null    int64
 368  1/20/21         259 non-null    int64
 369  1/21/21         259 non-null    int64
 370  1/22/21         259 non-null    int64
 371  1/23/21         259 non-null    int64
 372  1/24/21         259 non-null    int64
 373  1/25/21         259 non-null    int64
 374  1/26/21         259 non-null    int64
 375  1/27/21         259 non-null    int64
 376  1/28/21         259 non-null    int64
 377  1/29/21         259 non-null    int64
 378  1/30/21         259 non-null    int64
 379  1/31/21         259 non-null    int64
 380  2/1/21          259 non-null    int64
 381  2/2/21          259 non-null    int64
 382  2/3/21          259 non-null    int64
 383  2/4/21          259 non-null    int64
 384  2/5/21          259 non-null    int64
 385  2/6/21          259 non-null    int64
 386  2/7/21          259 non-null    int64
 387  2/8/21          259 non-null    int64
 388  2/9/21          259 non-null    int64
 389  2/10/21         259 non-null    int64
 390  2/11/21         259 non-null    int64
 391  2/12/21         259 non-null    int64
 392  2/13/21         259 non-null    int64
 393  2/14/21         259 non-null    int64
 394  2/15/21         259 non-null    int64
 395  2/16/21         259 non-null    int64
 396  2/17/21         259 non-null    int64
 397  2/18/21         259 non-null    int64
 398  2/19/21         259 non-null    int64
 399  2/20/21         259 non-null    int64
 400  2/21/21         259 non-null    int64
 401  2/22/21         259 non-null    int64
 402  2/23/21         259 non-null    int64
 403  2/24/21         259 non-null    int64
 404  2/25/21         259 non-null    int64
 405  2/26/21         259 non-null    int64
 406  2/27/21         259 non-null    int64
 407  2/28/21         259 non-null    int64
 408  3/1/21          259 non-null    int64
 409  3/2/21          259 non-null    int64
 410  3/3/21          259 non-null    int64
 411  3/4/21          259 non-null    int64
 412  3/5/21          259 non-null    int64
 413  3/6/21          259 non-null    int64
 414  3/7/21          259 non-null    int64
 415  3/8/21          259 non-null    int64
 416  3/9/21          259 non-null    int64
 417  3/10/21         259 non-null    int64
 418  3/11/21         259 non-null    int64
 419  3/12/21         259 non-null    int64
 420  3/13/21         259 non-null    int64
 421  3/14/21         259 non-null    int64
 422  3/15/21         259 non-null    int64
 423  3/16/21         259 non-null    int64
 424  3/17/21         259 non-null    int64
 425  3/18/21         259 non-null    int64
 426  3/19/21         259 non-null    int64
 427  3/20/21         259 non-null    int64
 428  3/21/21         259 non-null    int64
 429  3/22/21         259 non-null    int64
 430  3/23/21         259 non-null    int64
 431  3/24/21         259 non-null    int64
 432  3/25/21         259 non-null    int64
 433  3/26/21         259 non-null    int64
 434  3/27/21         259 non-null    int64
 435  3/28/21         259 non-null    int64
 436  3/29/21         259 non-null    int64
 437  3/30/21         259 non-null    int64
 438  3/31/21         259 non-null    int64
 439  4/1/21          259 non-null    int64
 440  4/2/21          259 non-null    int64
dtypes: float64(2), int64(437), object(2)
memory usage: 892.5+ KB

None

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,259.000000,...,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02,2.590000e+02
mean,19.102739,28.495821,0.115830,0.123552,0.150579,0.162162,0.216216,0.250965,0.416988,0.490347,...,2.733076e+05,2.745115e+05,2.759192e+05,2.770977e+05,2.783671e+05,2.795426e+05,2.808215e+05,2.822830e+05,2.835970e+05,2.848085e+05
std,24.640880,70.936043,1.743788,1.747697,1.940118,2.005022,2.641273,2.839838,5.005023,5.505010,...,1.071255e+06,1.075752e+06,1.080969e+06,1.085416e+06,1.089808e+06,1.093001e+06,1.098028e+06,1.104350e+06,1.109635e+06,1.113932e+06
min,-51.796300,-178.116500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.715658,-8.826999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.540000e+02,8.565000e+02,8.565000e+02,8.645000e+02,8.645000e+02,8.645000e+02,8.645000e+02,8.655000e+02,8.655000e+02,8.660000e+02
50%,19.856270,24.603200,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.002000e+03,9.330000e+03,9.330000e+03,9.391000e+03,9.454000e+03,9.594000e+03,9.594000e+03,9.668000e+03,9.710000e+03,9.749000e+03
75%,39.018950,90.394950,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.418970e+05,1.427710e+05,1.435825e+05,1.439630e+05,1.451285e+05,1.460390e+05,1.468215e+05,1.474965e+05,1.482600e+05,1.488735e+05
max,71.706900,178.065000,28.000000,28.000000,31.000000,32.000000,42.000000,45.000000,80.000000,88.000000,...,1.123165e+07,1.126464e+07,1.129502e+07,1.132376e+07,1.135599e+07,1.139302e+07,1.143430e+07,1.147468e+07,1.152504e+07,1.156924e+07

### US Confirmed Cases

In [31]:
us_confirmed_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv")
display(us_confirmed_df.head())
display(us_confirmed_df.info(verbose=True, show_counts=True))
display(us_confirmed_df.describe())

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,6533,6540,6543,6562,6570,6577,6580,6589,6595,6606
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,20395,20417,20423,20453,20473,20487,20492,20505,20523,20519
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,2216,2218,2221,2224,2226,2226,2227,2227,2227,2228
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,2535,2534,2535,2535,2536,2536,2537,2542,2543,2544
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,6402,6408,6415,6420,6424,6426,6443,6444,6446,6455

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 448 columns):
 #    Column          Non-Null Count  Dtype
---   ------          --------------  -----
 0    UID             3342 non-null   int64
 1    iso2            3342 non-null   object
 2    iso3            3342 non-null   object
 3    code3           3342 non-null   int64
 4    FIPS            3332 non-null   float64
 5    Admin2          3336 non-null   object
 6    Province_State  3342 non-null   object
 7    Country_Region  3342 non-null   object
 8    Lat             3342 non-null   float64
 9    Long_           3342 non-null   float64
 10   Combined_Key    3342 non-null   object
 11   1/22/20         3342 non-null   int64
 12   1/23/20         3342 non-null   int64
 13   1/24/20         3342 non-null   int64
 14   1/25/20         3342 non-null   int64
 15   1/26/20         3342 non-null   int64
 16   1/27/20         3342 non-null   int64
 17   1/28/20         3342 non-null   int64
 18   1/29/20         3342 non-null   int64
 19   1/30/20         3342 non-null   int64
 20   1/31/20         3342 non-null   int64
 21   2/1/20          3342 non-null   int64
 22   2/2/20          3342 non-null   int64
 23   2/3/20          3342 non-null   int64
 24   2/4/20          3342 non-null   int64
 25   2/5/20          3342 non-null   int64
 26   2/6/20          3342 non-null   int64
 27   2/7/20          3342 non-null   int64
 28   2/8/20          3342 non-null   int64
 29   2/9/20          3342 non-null   int64
 30   2/10/20         3342 non-null   int64
 31   2/11/20         3342 non-null   int64
 32   2/12/20         3342 non-null   int64
 33   2/13/20         3342 non-null   int64
 34   2/14/20         3342 non-null   int64
 35   2/15/20         3342 non-null   int64
 36   2/16/20         3342 non-null   int64
 37   2/17/20         3342 non-null   int64
 38   2/18/20         3342 non-null   int64
 39   2/19/20         3342 non-null   int64
 40   2/20/20         3342 non-null   int64
 41   2/21/20         3342 non-null   int64
 42   2/22/20         3342 non-null   int64
 43   2/23/20         3342 non-null   int64
 44   2/24/20         3342 non-null   int64
 45   2/25/20         3342 non-null   int64
 46   2/26/20         3342 non-null   int64
 47   2/27/20         3342 non-null   int64
 48   2/28/20         3342 non-null   int64
 49   2/29/20         3342 non-null   int64
 50   3/1/20          3342 non-null   int64
 51   3/2/20          3342 non-null   int64
 52   3/3/20          3342 non-null   int64
 53   3/4/20          3342 non-null   int64
 54   3/5/20          3342 non-null   int64
 55   3/6/20          3342 non-null   int64
 56   3/7/20          3342 non-null   int64
 57   3/8/20          3342 non-null   int64
 58   3/9/20          3342 non-null   int64
 59   3/10/20         3342 non-null   int64
 60   3/11/20         3342 non-null   int64
 61   3/12/20         3342 non-null   int64
 62   3/13/20         3342 non-null   int64
 63   3/14/20         3342 non-null   int64
 64   3/15/20         3342 non-null   int64
 65   3/16/20         3342 non-null   int64
 66   3/17/20         3342 non-null   int64
 67   3/18/20         3342 non-null   int64
 68   3/19/20         3342 non-null   int64
 69   3/20/20         3342 non-null   int64
 70   3/21/20         3342 non-null   int64
 71   3/22/20         3342 non-null   int64
 72   3/23/20         3342 non-null   int64
 73   3/24/20         3342 non-null   int64
 74   3/25/20         3342 non-null   int64
 75   3/26/20         3342 non-null   int64
 76   3/27/20         3342 non-null   int64
 77   3/28/20         3342 non-null   int64
 78   3/29/20         3342 non-null   int64
 79   3/30/20         3342 non-null   int64
 80   3/31/20         3342 non-null   int64
 81   4/1/20          3342 non-null   int64
 82   4/2/20          3342 non-null   int64
 83   4/3/20          3342 non-null   int64
 84   4/4/20          3342 non-null   int64
 85   4/5/20          3342 non-null   int64
 86   4/6/20          3342 non-null   int64
 87   4/7/20          3342 non-null   int64
 88   4/8/20          3342 non-null   int64
 89   4/9/20          3342 non-null   int64
 90   4/10/20         3342 non-null   int64
 91   4/11/20         3342 non-null   int64
 92   4/12/20         3342 non-null   int64
 93   4/13/20         3342 non-null   int64
 94   4/14/20         3342 non-null   int64
 95   4/15/20         3342 non-null   int64
 96   4/16/20         3342 non-null   int64
 97   4/17/20         3342 non-null   int64
 98   4/18/20         3342 non-null   int64
 99   4/19/20         3342 non-null   int64
 100  4/20/20         3342 non-null   int64
 101  4/21/20         3342 non-null   int64
 102  4/22/20         3342 non-null   int64
 103  4/23/20         3342 non-null   int64
 104  4/24/20         3342 non-null   int64
 105  4/25/20         3342 non-null   int64
 106  4/26/20         3342 non-null   int64
 107  4/27/20         3342 non-null   int64
 108  4/28/20         3342 non-null   int64
 109  4/29/20         3342 non-null   int64
 110  4/30/20         3342 non-null   int64
 111  5/1/20          3342 non-null   int64
 112  5/2/20          3342 non-null   int64
 113  5/3/20          3342 non-null   int64
 114  5/4/20          3342 non-null   int64
 115  5/5/20          3342 non-null   int64
 116  5/6/20          3342 non-null   int64
 117  5/7/20          3342 non-null   int64
 118  5/8/20          3342 non-null   int64
 119  5/9/20          3342 non-null   int64
 120  5/10/20         3342 non-null   int64
 121  5/11/20         3342 non-null   int64
 122  5/12/20         3342 non-null   int64
 123  5/13/20         3342 non-null   int64
 124  5/14/20         3342 non-null   int64
 125  5/15/20         3342 non-null   int64
 126  5/16/20         3342 non-null   int64
 127  5/17/20         3342 non-null   int64
 128  5/18/20         3342 non-null   int64
 129  5/19/20         3342 non-null   int64
 130  5/20/20         3342 non-null   int64
 131  5/21/20         3342 non-null   int64
 132  5/22/20         3342 non-null   int64
 133  5/23/20         3342 non-null   int64
 134  5/24/20         3342 non-null   int64
 135  5/25/20         3342 non-null   int64
 136  5/26/20         3342 non-null   int64
 137  5/27/20         3342 non-null   int64
 138  5/28/20         3342 non-null   int64
 139  5/29/20         3342 non-null   int64
 140  5/30/20         3342 non-null   int64
 141  5/31/20         3342 non-null   int64
 142  6/1/20          3342 non-null   int64
 143  6/2/20          3342 non-null   int64
 144  6/3/20          3342 non-null   int64
 145  6/4/20          3342 non-null   int64
 146  6/5/20          3342 non-null   int64
 147  6/6/20          3342 non-null   int64
 148  6/7/20          3342 non-null   int64
 149  6/8/20          3342 non-null   int64
 150  6/9/20          3342 non-null   int64
 151  6/10/20         3342 non-null   int64
 152  6/11/20         3342 non-null   int64
 153  6/12/20         3342 non-null   int64
 154  6/13/20         3342 non-null   int64
 155  6/14/20         3342 non-null   int64
 156  6/15/20         3342 non-null   int64
 157  6/16/20         3342 non-null   int64
 158  6/17/20         3342 non-null   int64
 159  6/18/20         3342 non-null   int64
 160  6/19/20         3342 non-null   int64
 161  6/20/20         3342 non-null   int64
 162  6/21/20         3342 non-null   int64
 163  6/22/20         3342 non-null   int64
 164  6/23/20         3342 non-null   int64
 165  6/24/20         3342 non-null   int64
 166  6/25/20         3342 non-null   int64
 167  6/26/20         3342 non-null   int64
 168  6/27/20         3342 non-null   int64
 169  6/28/20         3342 non-null   int64
 170  6/29/20         3342 non-null   int64
 171  6/30/20         3342 non-null   int64
 172  7/1/20          3342 non-null   int64
 173  7/2/20          3342 non-null   int64
 174  7/3/20          3342 non-null   int64
 175  7/4/20          3342 non-null   int64
 176  7/5/20          3342 non-null   int64
 177  7/6/20          3342 non-null   int64
 178  7/7/20          3342 non-null   int64
 179  7/8/20          3342 non-null   int64
 180  7/9/20          3342 non-null   int64
 181  7/10/20         3342 non-null   int64
 182  7/11/20         3342 non-null   int64
 183  7/12/20         3342 non-null   int64
 184  7/13/20         3342 non-null   int64
 185  7/14/20         3342 non-null   int64
 186  7/15/20         3342 non-null   int64
 187  7/16/20         3342 non-null   int64
 188  7/17/20         3342 non-null   int64
 189  7/18/20         3342 non-null   int64
 190  7/19/20         3342 non-null   int64
 191  7/20/20         3342 non-null   int64
 192  7/21/20         3342 non-null   int64
 193  7/22/20         3342 non-null   int64
 194  7/23/20         3342 non-null   int64
 195  7/24/20         3342 non-null   int64
 196  7/25/20         3342 non-null   int64
 197  7/26/20         3342 non-null   int64
 198  7/27/20         3342 non-null   int64
 199  7/28/20         3342 non-null   int64
 200  7/29/20         3342 non-null   int64
 201  7/30/20         3342 non-null   int64
 202  7/31/20         3342 non-null   int64
 203  8/1/20          3342 non-null   int64
 204  8/2/20          3342 non-null   int64
 205  8/3/20          3342 non-null   int64
 206  8/4/20          3342 non-null   int64
 207  8/5/20          3342 non-null   int64
 208  8/6/20          3342 non-null   int64
 209  8/7/20          3342 non-null   int64
 210  8/8/20          3342 non-null   int64
 211  8/9/20          3342 non-null   int64
 212  8/10/20         3342 non-null   int64
 213  8/11/20         3342 non-null   int64
 214  8/12/20         3342 non-null   int64
 215  8/13/20         3342 non-null   int64
 216  8/14/20         3342 non-null   int64
 217  8/15/20         3342 non-null   int64
 218  8/16/20         3342 non-null   int64
 219  8/17/20         3342 non-null   int64
 220  8/18/20         3342 non-null   int64
 221  8/19/20         3342 non-null   int64
 222  8/20/20         3342 non-null   int64
 223  8/21/20         3342 non-null   int64
 224  8/22/20         3342 non-null   int64
 225  8/23/20         3342 non-null   int64
 226  8/24/20         3342 non-null   int64
 227  8/25/20         3342 non-null   int64
 228  8/26/20         3342 non-null   int64
 229  8/27/20         3342 non-null   int64
 230  8/28/20         3342 non-null   int64
 231  8/29/20         3342 non-null   int64
 232  8/30/20         3342 non-null   int64
 233  8/31/20         3342 non-null   int64
 234  9/1/20          3342 non-null   int64
 235  9/2/20          3342 non-null   int64
 236  9/3/20          3342 non-null   int64
 237  9/4/20          3342 non-null   int64
 238  9/5/20          3342 non-null   int64
 239  9/6/20          3342 non-null   int64
 240  9/7/20          3342 non-null   int64
 241  9/8/20          3342 non-null   int64
 242  9/9/20          3342 non-null   int64
 243  9/10/20         3342 non-null   int64
 244  9/11/20         3342 non-null   int64
 245  9/12/20         3342 non-null   int64
 246  9/13/20         3342 non-null   int64
 247  9/14/20         3342 non-null   int64
 248  9/15/20         3342 non-null   int64
 249  9/16/20         3342 non-null   int64
 250  9/17/20         3342 non-null   int64
 251  9/18/20         3342 non-null   int64
 252  9/19/20         3342 non-null   int64
 253  9/20/20         3342 non-null   int64
 254  9/21/20         3342 non-null   int64
 255  9/22/20         3342 non-null   int64
 256  9/23/20         3342 non-null   int64
 257  9/24/20         3342 non-null   int64
 258  9/25/20         3342 non-null   int64
 259  9/26/20         3342 non-null   int64
 260  9/27/20         3342 non-null   int64
 261  9/28/20         3342 non-null   int64
 262  9/29/20         3342 non-null   int64
 263  9/30/20         3342 non-null   int64
 264  10/1/20         3342 non-null   int64
 265  10/2/20         3342 non-null   int64
 266  10/3/20         3342 non-null   int64
 267  10/4/20         3342 non-null   int64
 268  10/5/20         3342 non-null   int64
 269  10/6/20         3342 non-null   int64
 270  10/7/20         3342 non-null   int64
 271  10/8/20         3342 non-null   int64
 272  10/9/20         3342 non-null   int64
 273  10/10/20        3342 non-null   int64
 274  10/11/20        3342 non-null   int64
 275  10/12/20        3342 non-null   int64
 276  10/13/20        3342 non-null   int64
 277  10/14/20        3342 non-null   int64
 278  10/15/20        3342 non-null   int64
 279  10/16/20        3342 non-null   int64
 280  10/17/20        3342 non-null   int64
 281  10/18/20        3342 non-null   int64
 282  10/19/20        3342 non-null   int64
 283  10/20/20        3342 non-null   int64
 284  10/21/20        3342 non-null   int64
 285  10/22/20        3342 non-null   int64
 286  10/23/20        3342 non-null   int64
 287  10/24/20        3342 non-null   int64
 288  10/25/20        3342 non-null   int64
 289  10/26/20        3342 non-null   int64
 290  10/27/20        3342 non-null   int64
 291  10/28/20        3342 non-null   int64
 292  10/29/20        3342 non-null   int64
 293  10/30/20        3342 non-null   int64
 294  10/31/20        3342 non-null   int64
 295  11/1/20         3342 non-null   int64
 296  11/2/20         3342 non-null   int64
 297  11/3/20         3342 non-null   int64
 298  11/4/20         3342 non-null   int64
 299  11/5/20         3342 non-null   int64
 300  11/6/20         3342 non-null   int64
 301  11/7/20         3342 non-null   int64
 302  11/8/20         3342 non-null   int64
 303  11/9/20         3342 non-null   int64
 304  11/10/20        3342 non-null   int64
 305  11/11/20        3342 non-null   int64
 306  11/12/20        3342 non-null   int64
 307  11/13/20        3342 non-null   int64
 308  11/14/20        3342 non-null   int64
 309  11/15/20        3342 non-null   int64
 310  11/16/20        3342 non-null   int64
 311  11/17/20        3342 non-null   int64
 312  11/18/20        3342 non-null   int64
 313  11/19/20        3342 non-null   int64
 314  11/20/20        3342 non-null   int64
 315  11/21/20        3342 non-null   int64
 316  11/22/20        3342 non-null   int64
 317  11/23/20        3342 non-null   int64
 318  11/24/20        3342 non-null   int64
 319  11/25/20        3342 non-null   int64
 320  11/26/20        3342 non-null   int64
 321  11/27/20        3342 non-null   int64
 322  11/28/20        3342 non-null   int64
 323  11/29/20        3342 non-null   int64
 324  11/30/20        3342 non-null   int64
 325  12/1/20         3342 non-null   int64
 326  12/2/20         3342 non-null   int64
 327  12/3/20         3342 non-null   int64
 328  12/4/20         3342 non-null   int64
 329  12/5/20         3342 non-null   int64
 330  12/6/20         3342 non-null   int64
 331  12/7/20         3342 non-null   int64
 332  12/8/20         3342 non-null   int64
 333  12/9/20         3342 non-null   int64
 334  12/10/20        3342 non-null   int64
 335  12/11/20        3342 non-null   int64
 336  12/12/20        3342 non-null   int64
 337  12/13/20        3342 non-null   int64
 338  12/14/20        3342 non-null   int64
 339  12/15/20        3342 non-null   int64
 340  12/16/20        3342 non-null   int64
 341  12/17/20        3342 non-null   int64
 342  12/18/20        3342 non-null   int64
 343  12/19/20        3342 non-null   int64
 344  12/20/20        3342 non-null   int64
 345  12/21/20        3342 non-null   int64
 346  12/22/20        3342 non-null   int64
 347  12/23/20        3342 non-null   int64
 348  12/24/20        3342 non-null   int64
 349  12/25/20        3342 non-null   int64
 350  12/26/20        3342 non-null   int64
 351  12/27/20        3342 non-null   int64
 352  12/28/20        3342 non-null   int64
 353  12/29/20        3342 non-null   int64
 354  12/30/20        3342 non-null   int64
 355  12/31/20        3342 non-null   int64
 356  1/1/21          3342 non-null   int64
 357  1/2/21          3342 non-null   int64
 358  1/3/21          3342 non-null   int64
 359  1/4/21          3342 non-null   int64
 360  1/5/21          3342 non-null   int64
 361  1/6/21          3342 non-null   int64
 362  1/7/21          3342 non-null   int64
 363  1/8/21          3342 non-null   int64
 364  1/9/21          3342 non-null   int64
 365  1/10/21         3342 non-null   int64
 366  1/11/21         3342 non-null   int64
 367  1/12/21         3342 non-null   int64
 368  1/13/21         3342 non-null   int64
 369  1/14/21         3342 non-null   int64
 370  1/15/21         3342 non-null   int64
 371  1/16/21         3342 non-null   int64
 372  1/17/21         3342 non-null   int64
 373  1/18/21         3342 non-null   int64
 374  1/19/21         3342 non-null   int64
 375  1/20/21         3342 non-null   int64
 376  1/21/21         3342 non-null   int64
 377  1/22/21         3342 non-null   int64
 378  1/23/21         3342 non-null   int64
 379  1/24/21         3342 non-null   int64
 380  1/25/21         3342 non-null   int64
 381  1/26/21         3342 non-null   int64
 382  1/27/21         3342 non-null   int64
 383  1/28/21         3342 non-null   int64
 384  1/29/21         3342 non-null   int64
 385  1/30/21         3342 non-null   int64
 386  1/31/21         3342 non-null   int64
 387  2/1/21          3342 non-null   int64
 388  2/2/21          3342 non-null   int64
 389  2/3/21          3342 non-null   int64
 390  2/4/21          3342 non-null   int64
 391  2/5/21          3342 non-null   int64
 392  2/6/21          3342 non-null   int64
 393  2/7/21          3342 non-null   int64
 394  2/8/21          3342 non-null   int64
 395  2/9/21          3342 non-null   int64
 396  2/10/21         3342 non-null   int64
 397  2/11/21         3342 non-null   int64
 398  2/12/21         3342 non-null   int64
 399  2/13/21         3342 non-null   int64
 400  2/14/21         3342 non-null   int64
 401  2/15/21         3342 non-null   int64
 402  2/16/21         3342 non-null   int64
 403  2/17/21         3342 non-null   int64
 404  2/18/21         3342 non-null   int64
 405  2/19/21         3342 non-null   int64
 406  2/20/21         3342 non-null   int64
 407  2/21/21         3342 non-null   int64
 408  2/22/21         3342 non-null   int64
 409  2/23/21         3342 non-null   int64
 410  2/24/21         3342 non-null   int64
 411  2/25/21         3342 non-null   int64
 412  2/26/21         3342 non-null   int64
 413  2/27/21         3342 non-null   int64
 414  2/28/21         3342 non-null   int64
 415  3/1/21          3342 non-null   int64
 416  3/2/21          3342 non-null   int64
 417  3/3/21          3342 non-null   int64
 418  3/4/21          3342 non-null   int64
 419  3/5/21          3342 non-null   int64
 420  3/6/21          3342 non-null   int64
 421  3/7/21          3342 non-null   int64
 422  3/8/21          3342 non-null   int64
 423  3/9/21          3342 non-null   int64
 424  3/10/21         3342 non-null   int64
 425  3/11/21         3342 non-null   int64
 426  3/12/21         3342 non-null   int64
 427  3/13/21         3342 non-null   int64
 428  3/14/21         3342 non-null   int64
 429  3/15/21         3342 non-null   int64
 430  3/16/21         3342 non-null   int64
 431  3/17/21         3342 non-null   int64
 432  3/18/21         3342 non-null   int64
 433  3/19/21         3342 non-null   int64
 434  3/20/21         3342 non-null   int64
 435  3/21/21         3342 non-null   int64
 436  3/22/21         3342 non-null   int64
 437  3/23/21         3342 non-null   int64
 438  3/24/21         3342 non-null   int64
 439  3/25/21         3342 non-null   int64
 440  3/26/21         3342 non-null   int64
 441  3/27/21         3342 non-null   int64
 442  3/28/21         3342 non-null   int64
 443  3/29/21         3342 non-null   int64
 444  3/30/21         3342 non-null   int64
 445  3/31/21         3342 non-null   int64
 446  4/1/21          3342 non-null   int64
 447  4/2/21          3342 non-null   int64
dtypes: float64(3), int64(439), object(6)
memory usage: 11.4+ MB

None

,UID,code3,FIPS,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,3.342000e+03,3342.000000,3332.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,...,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03,3.342000e+03
mean,8.342992e+07,834.494913,33043.078932,36.721617,-88.642045,0.000299,0.000299,0.000598,0.000598,0.001496,...,8.980433e+03,9.000616e+03,9.023750e+03,9.042325e+03,9.055399e+03,9.076171e+03,9.094496e+03,9.114552e+03,9.138201e+03,9.159093e+03
std,4.314076e+06,36.487378,18648.808931,9.079322,21.776287,0.017298,0.017298,0.024459,0.024459,0.038656,...,3.364810e+04,3.369497e+04,3.375406e+04,3.380516e+04,3.384944e+04,3.389886e+04,3.394123e+04,3.399116e+04,3.404889e+04,3.410253e+04
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.401811e+07,840.000000,19076.500000,33.896803,-97.803595,0.000000,0.000000,0.000000,0.000000,0.000000,...,8.522500e+02,8.560000e+02,8.572500e+02,8.582500e+02,8.592500e+02,8.605000e+02,8.622500e+02,8.630000e+02,8.650000e+02,8.662500e+02
50%,8.402921e+07,840.000000,31012.000000,38.005610,-89.488865,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.185000e+03,2.187500e+03,2.189500e+03,2.198000e+03,2.201000e+03,2.207000e+03,2.208000e+03,2.210500e+03,2.213000e+03,2.215000e+03
75%,8.404612e+07,840.000000,47129.500000,41.579255,-82.313398,0.000000,0.000000,0.000000,0.000000,0.000000,...,5.661000e+03,5.664000e+03,5.673500e+03,5.673500e+03,5.684250e+03,5.691750e+03,5.693000e+03,5.727250e+03,5.739000e+03,5.742250e+03
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.215772e+06,1.216319e+06,1.217116e+06,1.217775e+06,1.218229e+06,1.218643e+06,1.219029e+06,1.219614e+06,1.220256e+06,1.220893e+06

### US Death Cases

In [32]:
us_death_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv")
display(us_death_df.head())
display(us_death_df.info(verbose=True, show_counts=True))
display(us_death_df.describe())

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,99,99,99,99,99,99,99,99,99,99
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,300,300,301,301,301,301,301,301,301,301
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,54,54,54,54,54,54,54,55,55,55
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,58,58,58,58,58,58,58,58,58,58
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,131,131,131,131,131,131,131,131,131,132

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 449 columns):
 #    Column          Non-Null Count  Dtype
---   ------          --------------  -----
 0    UID             3342 non-null   int64
 1    iso2            3342 non-null   object
 2    iso3            3342 non-null   object
 3    code3           3342 non-null   int64
 4    FIPS            3332 non-null   float64
 5    Admin2          3336 non-null   object
 6    Province_State  3342 non-null   object
 7    Country_Region  3342 non-null   object
 8    Lat             3342 non-null   float64
 9    Long_           3342 non-null   float64
 10   Combined_Key    3342 non-null   object
 11   Population      3342 non-null   int64
 12   1/22/20         3342 non-null   int64
 13   1/23/20         3342 non-null   int64
 14   1/24/20         3342 non-null   int64
 15   1/25/20         3342 non-null   int64
 16   1/26/20         3342 non-null   int64
 17   1/27/20         3342 non-null   int64
 18   1/28/20         3342 non-null   int64
 19   1/29/20         3342 non-null   int64
 20   1/30/20         3342 non-null   int64
 21   1/31/20         3342 non-null   int64
 22   2/1/20          3342 non-null   int64
 23   2/2/20          3342 non-null   int64
 24   2/3/20          3342 non-null   int64
 25   2/4/20          3342 non-null   int64
 26   2/5/20          3342 non-null   int64
 27   2/6/20          3342 non-null   int64
 28   2/7/20          3342 non-null   int64
 29   2/8/20          3342 non-null   int64
 30   2/9/20          3342 non-null   int64
 31   2/10/20         3342 non-null   int64
 32   2/11/20         3342 non-null   int64
 33   2/12/20         3342 non-null   int64
 34   2/13/20         3342 non-null   int64
 35   2/14/20         3342 non-null   int64
 36   2/15/20         3342 non-null   int64
 37   2/16/20         3342 non-null   int64
 38   2/17/20         3342 non-null   int64
 39   2/18/20         3342 non-null   int64
 40   2/19/20         3342 non-null   int64
 41   2/20/20         3342 non-null   int64
 42   2/21/20         3342 non-null   int64
 43   2/22/20         3342 non-null   int64
 44   2/23/20         3342 non-null   int64
 45   2/24/20         3342 non-null   int64
 46   2/25/20         3342 non-null   int64
 47   2/26/20         3342 non-null   int64
 48   2/27/20         3342 non-null   int64
 49   2/28/20         3342 non-null   int64
 50   2/29/20         3342 non-null   int64
 51   3/1/20          3342 non-null   int64
 52   3/2/20          3342 non-null   int64
 53   3/3/20          3342 non-null   int64
 54   3/4/20          3342 non-null   int64
 55   3/5/20          3342 non-null   int64
 56   3/6/20          3342 non-null   int64
 57   3/7/20          3342 non-null   int64
 58   3/8/20          3342 non-null   int64
 59   3/9/20          3342 non-null   int64
 60   3/10/20         3342 non-null   int64
 61   3/11/20         3342 non-null   int64
 62   3/12/20         3342 non-null   int64
 63   3/13/20         3342 non-null   int64
 64   3/14/20         3342 non-null   int64
 65   3/15/20         3342 non-null   int64
 66   3/16/20         3342 non-null   int64
 67   3/17/20         3342 non-null   int64
 68   3/18/20         3342 non-null   int64
 69   3/19/20         3342 non-null   int64
 70   3/20/20         3342 non-null   int64
 71   3/21/20         3342 non-null   int64
 72   3/22/20         3342 non-null   int64
 73   3/23/20         3342 non-null   int64
 74   3/24/20         3342 non-null   int64
 75   3/25/20         3342 non-null   int64
 76   3/26/20         3342 non-null   int64
 77   3/27/20         3342 non-null   int64
 78   3/28/20         3342 non-null   int64
 79   3/29/20         3342 non-null   int64
 80   3/30/20         3342 non-null   int64
 81   3/31/20         3342 non-null   int64
 82   4/1/20          3342 non-null   int64
 83   4/2/20          3342 non-null   int64
 84   4/3/20          3342 non-null   int64
 85   4/4/20          3342 non-null   int64
 86   4/5/20          3342 non-null   int64
 87   4/6/20          3342 non-null   int64
 88   4/7/20          3342 non-null   int64
 89   4/8/20          3342 non-null   int64
 90   4/9/20          3342 non-null   int64
 91   4/10/20         3342 non-null   int64
 92   4/11/20         3342 non-null   int64
 93   4/12/20         3342 non-null   int64
 94   4/13/20         3342 non-null   int64
 95   4/14/20         3342 non-null   int64
 96   4/15/20         3342 non-null   int64
 97   4/16/20         3342 non-null   int64
 98   4/17/20         3342 non-null   int64
 99   4/18/20         3342 non-null   int64
 100  4/19/20         3342 non-null   int64
 101  4/20/20         3342 non-null   int64
 102  4/21/20         3342 non-null   int64
 103  4/22/20         3342 non-null   int64
 104  4/23/20         3342 non-null   int64
 105  4/24/20         3342 non-null   int64
 106  4/25/20         3342 non-null   int64
 107  4/26/20         3342 non-null   int64
 108  4/27/20         3342 non-null   int64
 109  4/28/20         3342 non-null   int64
 110  4/29/20         3342 non-null   int64
 111  4/30/20         3342 non-null   int64
 112  5/1/20          3342 non-null   int64
 113  5/2/20          3342 non-null   int64
 114  5/3/20          3342 non-null   int64
 115  5/4/20          3342 non-null   int64
 116  5/5/20          3342 non-null   int64
 117  5/6/20          3342 non-null   int64
 118  5/7/20          3342 non-null   int64
 119  5/8/20          3342 non-null   int64
 120  5/9/20          3342 non-null   int64
 121  5/10/20         3342 non-null   int64
 122  5/11/20         3342 non-null   int64
 123  5/12/20         3342 non-null   int64
 124  5/13/20         3342 non-null   int64
 125  5/14/20         3342 non-null   int64
 126  5/15/20         3342 non-null   int64
 127  5/16/20         3342 non-null   int64
 128  5/17/20         3342 non-null   int64
 129  5/18/20         3342 non-null   int64
 130  5/19/20         3342 non-null   int64
 131  5/20/20         3342 non-null   int64
 132  5/21/20         3342 non-null   int64
 133  5/22/20         3342 non-null   int64
 134  5/23/20         3342 non-null   int64
 135  5/24/20         3342 non-null   int64
 136  5/25/20         3342 non-null   int64
 137  5/26/20         3342 non-null   int64
 138  5/27/20         3342 non-null   int64
 139  5/28/20         3342 non-null   int64
 140  5/29/20         3342 non-null   int64
 141  5/30/20         3342 non-null   int64
 142  5/31/20         3342 non-null   int64
 143  6/1/20          3342 non-null   int64
 144  6/2/20          3342 non-null   int64
 145  6/3/20          3342 non-null   int64
 146  6/4/20          3342 non-null   int64
 147  6/5/20          3342 non-null   int64
 148  6/6/20          3342 non-null   int64
 149  6/7/20          3342 non-null   int64
 150  6/8/20          3342 non-null   int64
 151  6/9/20          3342 non-null   int64
 152  6/10/20         3342 non-null   int64
 153  6/11/20         3342 non-null   int64
 154  6/12/20         3342 non-null   int64
 155  6/13/20         3342 non-null   int64
 156  6/14/20         3342 non-null   int64
 157  6/15/20         3342 non-null   int64
 158  6/16/20         3342 non-null   int64
 159  6/17/20         3342 non-null   int64
 160  6/18/20         3342 non-null   int64
 161  6/19/20         3342 non-null   int64
 162  6/20/20         3342 non-null   int64
 163  6/21/20         3342 non-null   int64
 164  6/22/20         3342 non-null   int64
 165  6/23/20         3342 non-null   int64
 166  6/24/20         3342 non-null   int64
 167  6/25/20         3342 non-null   int64
 168  6/26/20         3342 non-null   int64
 169  6/27/20         3342 non-null   int64
 170  6/28/20         3342 non-null   int64
 171  6/29/20         3342 non-null   int64
 172  6/30/20         3342 non-null   int64
 173  7/1/20          3342 non-null   int64
 174  7/2/20          3342 non-null   int64
 175  7/3/20          3342 non-null   int64
 176  7/4/20          3342 non-null   int64
 177  7/5/20          3342 non-null   int64
 178  7/6/20          3342 non-null   int64
 179  7/7/20          3342 non-null   int64
 180  7/8/20          3342 non-null   int64
 181  7/9/20          3342 non-null   int64
 182  7/10/20         3342 non-null   int64
 183  7/11/20         3342 non-null   int64
 184  7/12/20         3342 non-null   int64
 185  7/13/20         3342 non-null   int64
 186  7/14/20         3342 non-null   int64
 187  7/15/20         3342 non-null   int64
 188  7/16/20         3342 non-null   int64
 189  7/17/20         3342 non-null   int64
 190  7/18/20         3342 non-null   int64
 191  7/19/20         3342 non-null   int64
 192  7/20/20         3342 non-null   int64
 193  7/21/20         3342 non-null   int64
 194  7/22/20         3342 non-null   int64
 195  7/23/20         3342 non-null   int64
 196  7/24/20         3342 non-null   int64
 197  7/25/20         3342 non-null   int64
 198  7/26/20         3342 non-null   int64
 199  7/27/20         3342 non-null   int64
 200  7/28/20         3342 non-null   int64
 201  7/29/20         3342 non-null   int64
 202  7/30/20         3342 non-null   int64
 203  7/31/20         3342 non-null   int64
 204  8/1/20          3342 non-null   int64
 205  8/2/20          3342 non-null   int64
 206  8/3/20          3342 non-null   int64
 207  8/4/20          3342 non-null   int64
 208  8/5/20          3342 non-null   int64
 209  8/6/20          3342 non-null   int64
 210  8/7/20          3342 non-null   int64
 211  8/8/20          3342 non-null   int64
 212  8/9/20          3342 non-null   int64
 213  8/10/20         3342 non-null   int64
 214  8/11/20         3342 non-null   int64
 215  8/12/20         3342 non-null   int64
 216  8/13/20         3342 non-null   int64
 217  8/14/20         3342 non-null   int64
 218  8/15/20         3342 non-null   int64
 219  8/16/20         3342 non-null   int64
 220  8/17/20         3342 non-null   int64
 221  8/18/20         3342 non-null   int64
 222  8/19/20         3342 non-null   int64
 223  8/20/20         3342 non-null   int64
 224  8/21/20         3342 non-null   int64
 225  8/22/20         3342 non-null   int64
 226  8/23/20         3342 non-null   int64
 227  8/24/20         3342 non-null   int64
 228  8/25/20         3342 non-null   int64
 229  8/26/20         3342 non-null   int64
 230  8/27/20         3342 non-null   int64
 231  8/28/20         3342 non-null   int64
 232  8/29/20         3342 non-null   int64
 233  8/30/20         3342 non-null   int64
 234  8/31/20         3342 non-null   int64
 235  9/1/20          3342 non-null   int64
 236  9/2/20          3342 non-null   int64
 237  9/3/20          3342 non-null   int64
 238  9/4/20          3342 non-null   int64
 239  9/5/20          3342 non-null   int64
 240  9/6/20          3342 non-null   int64
 241  9/7/20          3342 non-null   int64
 242  9/8/20          3342 non-null   int64
 243  9/9/20          3342 non-null   int64
 244  9/10/20         3342 non-null   int64
 245  9/11/20         3342 non-null   int64
 246  9/12/20         3342 non-null   int64
 247  9/13/20         3342 non-null   int64
 248  9/14/20         3342 non-null   int64
 249  9/15/20         3342 non-null   int64
 250  9/16/20         3342 non-null   int64
 251  9/17/20         3342 non-null   int64
 252  9/18/20         3342 non-null   int64
 253  9/19/20         3342 non-null   int64
 254  9/20/20         3342 non-null   int64
 255  9/21/20         3342 non-null   int64
 256  9/22/20         3342 non-null   int64
 257  9/23/20         3342 non-null   int64
 258  9/24/20         3342 non-null   int64
 259  9/25/20         3342 non-null   int64
 260  9/26/20         3342 non-null   int64
 261  9/27/20         3342 non-null   int64
 262  9/28/20         3342 non-null   int64
 263  9/29/20         3342 non-null   int64
 264  9/30/20         3342 non-null   int64
 265  10/1/20         3342 non-null   int64
 266  10/2/20         3342 non-null   int64
 267  10/3/20         3342 non-null   int64
 268  10/4/20         3342 non-null   int64
 269  10/5/20         3342 non-null   int64
 270  10/6/20         3342 non-null   int64
 271  10/7/20         3342 non-null   int64
 272  10/8/20         3342 non-null   int64
 273  10/9/20         3342 non-null   int64
 274  10/10/20        3342 non-null   int64
 275  10/11/20        3342 non-null   int64
 276  10/12/20        3342 non-null   int64
 277  10/13/20        3342 non-null   int64
 278  10/14/20        3342 non-null   int64
 279  10/15/20        3342 non-null   int64
 280  10/16/20        3342 non-null   int64
 281  10/17/20        3342 non-null   int64
 282  10/18/20        3342 non-null   int64
 283  10/19/20        3342 non-null   int64
 284  10/20/20        3342 non-null   int64
 285  10/21/20        3342 non-null   int64
 286  10/22/20        3342 non-null   int64
 287  10/23/20        3342 non-null   int64
 288  10/24/20        3342 non-null   int64
 289  10/25/20        3342 non-null   int64
 290  10/26/20        3342 non-null   int64
 291  10/27/20        3342 non-null   int64
 292  10/28/20        3342 non-null   int64
 293  10/29/20        3342 non-null   int64
 294  10/30/20        3342 non-null   int64
 295  10/31/20        3342 non-null   int64
 296  11/1/20         3342 non-null   int64
 297  11/2/20         3342 non-null   int64
 298  11/3/20         3342 non-null   int64
 299  11/4/20         3342 non-null   int64
 300  11/5/20         3342 non-null   int64
 301  11/6/20         3342 non-null   int64
 302  11/7/20         3342 non-null   int64
 303  11/8/20         3342 non-null   int64
 304  11/9/20         3342 non-null   int64
 305  11/10/20        3342 non-null   int64
 306  11/11/20        3342 non-null   int64
 307  11/12/20        3342 non-null   int64
 308  11/13/20        3342 non-null   int64
 309  11/14/20        3342 non-null   int64
 310  11/15/20        3342 non-null   int64
 311  11/16/20        3342 non-null   int64
 312  11/17/20        3342 non-null   int64
 313  11/18/20        3342 non-null   int64
 314  11/19/20        3342 non-null   int64
 315  11/20/20        3342 non-null   int64
 316  11/21/20        3342 non-null   int64
 317  11/22/20        3342 non-null   int64
 318  11/23/20        3342 non-null   int64
 319  11/24/20        3342 non-null   int64
 320  11/25/20        3342 non-null   int64
 321  11/26/20        3342 non-null   int64
 322  11/27/20        3342 non-null   int64
 323  11/28/20        3342 non-null   int64
 324  11/29/20        3342 non-null   int64
 325  11/30/20        3342 non-null   int64
 326  12/1/20         3342 non-null   int64
 327  12/2/20         3342 non-null   int64
 328  12/3/20         3342 non-null   int64
 329  12/4/20         3342 non-null   int64
 330  12/5/20         3342 non-null   int64
 331  12/6/20         3342 non-null   int64
 332  12/7/20         3342 non-null   int64
 333  12/8/20         3342 non-null   int64
 334  12/9/20         3342 non-null   int64
 335  12/10/20        3342 non-null   int64
 336  12/11/20        3342 non-null   int64
 337  12/12/20        3342 non-null   int64
 338  12/13/20        3342 non-null   int64
 339  12/14/20        3342 non-null   int64
 340  12/15/20        3342 non-null   int64
 341  12/16/20        3342 non-null   int64
 342  12/17/20        3342 non-null   int64
 343  12/18/20        3342 non-null   int64
 344  12/19/20        3342 non-null   int64
 345  12/20/20        3342 non-null   int64
 346  12/21/20        3342 non-null   int64
 347  12/22/20        3342 non-null   int64
 348  12/23/20        3342 non-null   int64
 349  12/24/20        3342 non-null   int64
 350  12/25/20        3342 non-null   int64
 351  12/26/20        3342 non-null   int64
 352  12/27/20        3342 non-null   int64
 353  12/28/20        3342 non-null   int64
 354  12/29/20        3342 non-null   int64
 355  12/30/20        3342 non-null   int64
 356  12/31/20        3342 non-null   int64
 357  1/1/21          3342 non-null   int64
 358  1/2/21          3342 non-null   int64
 359  1/3/21          3342 non-null   int64
 360  1/4/21          3342 non-null   int64
 361  1/5/21          3342 non-null   int64
 362  1/6/21          3342 non-null   int64
 363  1/7/21          3342 non-null   int64
 364  1/8/21          3342 non-null   int64
 365  1/9/21          3342 non-null   int64
 366  1/10/21         3342 non-null   int64
 367  1/11/21         3342 non-null   int64
 368  1/12/21         3342 non-null   int64
 369  1/13/21         3342 non-null   int64
 370  1/14/21         3342 non-null   int64
 371  1/15/21         3342 non-null   int64
 372  1/16/21         3342 non-null   int64
 373  1/17/21         3342 non-null   int64
 374  1/18/21         3342 non-null   int64
 375  1/19/21         3342 non-null   int64
 376  1/20/21         3342 non-null   int64
 377  1/21/21         3342 non-null   int64
 378  1/22/21         3342 non-null   int64
 379  1/23/21         3342 non-null   int64
 380  1/24/21         3342 non-null   int64
 381  1/25/21         3342 non-null   int64
 382  1/26/21         3342 non-null   int64
 383  1/27/21         3342 non-null   int64
 384  1/28/21         3342 non-null   int64
 385  1/29/21         3342 non-null   int64
 386  1/30/21         3342 non-null   int64
 387  1/31/21         3342 non-null   int64
 388  2/1/21          3342 non-null   int64
 389  2/2/21          3342 non-null   int64
 390  2/3/21          3342 non-null   int64
 391  2/4/21          3342 non-null   int64
 392  2/5/21          3342 non-null   int64
 393  2/6/21          3342 non-null   int64
 394  2/7/21          3342 non-null   int64
 395  2/8/21          3342 non-null   int64
 396  2/9/21          3342 non-null   int64
 397  2/10/21         3342 non-null   int64
 398  2/11/21         3342 non-null   int64
 399  2/12/21         3342 non-null   int64
 400  2/13/21         3342 non-null   int64
 401  2/14/21         3342 non-null   int64
 402  2/15/21         3342 non-null   int64
 403  2/16/21         3342 non-null   int64
 404  2/17/21         3342 non-null   int64
 405  2/18/21         3342 non-null   int64
 406  2/19/21         3342 non-null   int64
 407  2/20/21         3342 non-null   int64
 408  2/21/21         3342 non-null   int64
 409  2/22/21         3342 non-null   int64
 410  2/23/21         3342 non-null   int64
 411  2/24/21         3342 non-null   int64
 412  2/25/21         3342 non-null   int64
 413  2/26/21         3342 non-null   int64
 414  2/27/21         3342 non-null   int64
 415  2/28/21         3342 non-null   int64
 416  3/1/21          3342 non-null   int64
 417  3/2/21          3342 non-null   int64
 418  3/3/21          3342 non-null   int64
 419  3/4/21          3342 non-null   int64
 420  3/5/21          3342 non-null   int64
 421  3/6/21          3342 non-null   int64
 422  3/7/21          3342 non-null   int64
 423  3/8/21          3342 non-null   int64
 424  3/9/21          3342 non-null   int64
 425  3/10/21         3342 non-null   int64
 426  3/11/21         3342 non-null   int64
 427  3/12/21         3342 non-null   int64
 428  3/13/21         3342 non-null   int64
 429  3/14/21         3342 non-null   int64
 430  3/15/21         3342 non-null   int64
 431  3/16/21         3342 non-null   int64
 432  3/17/21         3342 non-null   int64
 433  3/18/21         3342 non-null   int64
 434  3/19/21         3342 non-null   int64
 435  3/20/21         3342 non-null   int64
 436  3/21/21         3342 non-null   int64
 437  3/22/21         3342 non-null   int64
 438  3/23/21         3342 non-null   int64
 439  3/24/21         3342 non-null   int64
 440  3/25/21         3342 non-null   int64
 441  3/26/21         3342 non-null   int64
 442  3/27/21         3342 non-null   int64
 443  3/28/21         3342 non-null   int64
 444  3/29/21         3342 non-null   int64
 445  3/30/21         3342 non-null   int64
 446  3/31/21         3342 non-null   int64
 447  4/1/21          3342 non-null   int64
 448  4/2/21          3342 non-null   int64

None

,UID,code3,FIPS,Lat,Long_,Population,1/22/20,1/23/20,1/24/20,1/25/20,...,3/24/21,3/25/21,3/26/21,3/27/21,3/28/21,3/29/21,3/30/21,3/31/21,4/1/21,4/2/21
count,3.342000e+03,3342.000000,3332.000000,3342.000000,3342.000000,3.342000e+03,3342.0,3342.0,3342.0,3342.0,...,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000,3342.000000
mean,8.342992e+07,834.494913,33043.078932,36.721617,-88.642045,9.960357e+04,0.0,0.0,0.0,0.0,...,163.223220,163.689707,164.025135,164.246858,164.398564,164.608318,164.870138,165.192101,165.510473,165.799820
std,4.314076e+06,36.487378,18648.808931,9.079322,21.776287,3.241661e+05,0.0,0.0,0.0,0.0,...,650.138376,651.938417,653.198937,654.136463,654.974061,655.583610,656.293257,657.409255,658.745798,660.012395
min,1.600000e+01,16.000000,60.000000,-14.271000,-174.159600,0.000000e+00,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8.401811e+07,840.000000,19076.500000,33.896803,-97.803595,9.917250e+03,0.0,0.0,0.0,0.0,...,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000
50%,8.402921e+07,840.000000,31012.000000,38.005610,-89.488865,2.489150e+04,0.0,0.0,0.0,0.0,...,41.000000,41.000000,41.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000
75%,8.404612e+07,840.000000,47129.500000,41.579255,-82.313398,6.497525e+04,0.0,0.0,0.0,0.0,...,101.000000,101.000000,101.750000,101.750000,101.750000,102.000000,102.000000,102.000000,102.000000,102.000000
max,8.410000e+07,850.000000,99999.000000,69.314792,145.673900,1.003911e+07,0.0,0.0,0.0,0.0,...,22965.000000,23022.000000,23056.000000,23080.000000,23103.000000,23101.000000,23111.000000,23144.000000,23191.000000,23236.000000

### Country-specific Data

In [33]:
country_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/web-data/data/cases_country.csv")
display(country_df.head())
display(country_df.info(verbose=True, show_counts=True))
display(country_df.describe())

,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3
0,Afghanistan,2021-04-03 22:20:53,33.93911,67.709953,56595.0,2496.0,51798.0,2301.0,145.382512,NaN,NaN,4.410284,4,AFG
1,Albania,2021-04-03 22:20:53,41.15330,20.168300,126183.0,2256.0,93173.0,30754.0,4384.703593,NaN,NaN,1.787880,8,ALB
2,Algeria,2021-04-03 22:20:53,28.03390,1.659600,117429.0,3099.0,81729.0,32601.0,267.790666,NaN,NaN,2.639041,12,DZA
3,Andorra,2021-04-03 22:20:53,42.50630,1.521800,12174.0,117.0,11428.0,629.0,15756.163852,NaN,NaN,0.961065,20,AND
4,Angola,2021-04-03 22:20:53,-11.20270,17.873900,22579.0,540.0,20871.0,1168.0,68.699616,NaN,NaN,2.391603,24,AGO

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country_Region       192 non-null    object
 1   Last_Update          192 non-null    object
 2   Lat                  190 non-null    float64
 3   Long_                190 non-null    float64
 4   Confirmed            192 non-null    float64
 5   Deaths               192 non-null    float64
 6   Recovered            188 non-null    float64
 7   Active               191 non-null    float64
 8   Incident_Rate        190 non-null    float64
 9   People_Tested        0 non-null      float64
 10  People_Hospitalized  0 non-null      float64
 11  Mortality_Rate       192 non-null    float64
 12  UID                  192 non-null    int64
 13  ISO3                 190 non-null    object
dtypes: float64(10), int64(1), object(3)
memory usage: 21.1+ KB

None

,Lat,Long_,Confirmed,Deaths,Recovered,Active,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID
count,190.000000,190.000000,1.920000e+02,192.000000,1.880000e+02,1.910000e+02,190.000000,0.0,0.0,192.000000,192.000000
mean,19.515850,19.770528,6.803665e+05,14816.197917,3.935894e+05,1.239705e+05,2727.224979,NaN,NaN,2.044339,518.145833
std,23.914666,62.027648,2.643008e+06,52817.665445,1.293856e+06,5.171804e+05,3280.091570,NaN,NaN,2.379986,953.673240
min,-40.900600,-172.104600,1.000000e+00,0.000000,1.000000e+00,0.000000e+00,0.673488,NaN,NaN,0.000000,4.000000
25%,4.643279,-6.706225,8.415750e+03,111.500000,5.305750e+03,3.835000e+02,158.326374,NaN,NaN,0.964147,207.000000
50%,17.589241,20.535638,8.126450e+04,986.500000,4.889900e+04,5.406000e+03,1344.383104,NaN,NaN,1.661690,424.000000
75%,40.383525,46.701734,3.078798e+05,6271.750000,2.222112e+05,3.358150e+04,4807.794761,NaN,NaN,2.517104,649.250000
max,64.963100,178.065000,3.066718e+07,554773.000000,1.156924e+07,4.401462e+06,15756.163852,NaN,NaN,22.222222,9999.000000

### Conclusion
We can use above data to forecast the evolution of the covid-19 pandemic. We can find most affected countries from country_df.